<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../../css/common/index_commons.css">
  <link rel="stylesheet" type="text/css" href="../../css/double/index.css">
  <title>Document</title>
</head>
<body>
  <div class="g-hd">
    <div class="m-top" id="jsHead">
        <div class="g-in f-cb">
            <div class="m-menu f-fl">
                <a class="user __dim__o" setdata="UserMenu_username" href="http://www.51talk.com/user/index">hi,<em class="nick">Bonnie</em>！</a><i>|</i><a class="msg __dim__o" setdata="UserMenu_msg" href="http://www.51talk.com/user/wll">消息<span class="num">37</span></a>
                <span
                    class="tips"><a class="txt" href="http://www.51talk.com/user/review?opinion=no">您有2节课程需要评价</a><span class="close">关闭</span></span><i>|</i><a class="__dim__o" setdata="UserMenu_logout" href="http://www.51talk.com/sso/logout">退出</a>
            </div>
            <ul class="m-link f-ib f-fr">
                <li><a href="http://www.51talk.com/" class="__dim__o" setdata="HeadLink_1">官网首页</a></li>
                <li><a href="https://sale.51talk.com" class="__dim__o" setdata="HeadLink_2">购买课程</a></li>
                <li>
                    <a href="http://www.51talk.com/index/system" class="__dim__o" setdata="HeadLink_3">课程介绍</a></li>
                <li>
                    <a href="http://www.51talk.com/testing/index/?type=login" class="__dim__o" setdata="HeadLink_4">英语水平</a>
                </li>
                <li><a target="_blank" href="http://www.51talk.com/page/faq" class="__dim__o" setdata="HeadLink_5">常见问题</a></li>
                <li><a target="_blank" href="http://www.51talk.com/page/cet" class="__dim__o" setdata="HeadLink_6">企业培训</a></li>
                <li class="jsMore follow"><a href="http://www.51talk.com/page/about/" class="__dim__o" setdata="HeadLink_7">关注我们</a>
                    <ul class="jsUl">
                        <li class="tsina"><a href="http://weibo.com/51talk" rel="nofollow" target="_blank">新浪微博</a></li>
                        <li class="tqq"><a href="http://e.t.qq.com/t51talk" rel="nofollow" target="_blank">腾讯微博</a></li>
                    </ul>
                </li>
                <li><a href="http://www.51talk.com/user/invitefriend" target="_blank" class="__dim__o" setdata="HeadLink_8">邀请有礼</a></li>
                <li><a href="http://www.51talk.com/activity/ipadClient" target="_blank" onclick="__sdonclick('ipadclient');" title="iPad客户端">iPad客户端</a></li>
            </ul>
        </div>
        <div class="down_ac" style="width:105px;height:78px;position:absolute;top:0;right:0;">
            <a href="http://www.51talk.com/ac/51TalkAC.php" target="_blank"><img src="http://static.51talk.com/static/image/menber/un/down_AC.png?v=1511417080594" alt=""></a>
        </div>
    </div>
    <!-- /m-top -->
    <div class="m-head">
        <div class="g-in">
            <h1 class="logo"><a href="http://www.51talk.com/" class="__dim__o" setdata="nav_51talk_logo">51talk 无忧英语</a></h1>
            <ul class="nav">
                <li class="crt"><a href="http://www.51talk.com/user/index" class="__dim__o" setdata="nav_1">首页</a></li>
                <li><a href="http://www.51talk.com/user/remind" class="__dim__o" setdata="nav_2">账户设置</a></li>
                <li><a href="https://sale.51talk.com" class="__dim__o" setdata="nav_3">购买课程</a></li>
                <li><a href="//bbs.51talk.com" target="_blank" hidefocus="true" style="outline:none;" class="__dim__o" setdata="nav_4">学习社区</a></li>
            </ul>
            <div class="contact">
                <p><a href="javascript:void(0)" onclick="easemobIM()" data-type="261110" rel="nofollow" class="hiring u-b-ntkf" title="在线客服" data-url="/Ajax/countQqZiXun">客服在线咨询 (09:00-22:30)</a></p>
                <p class="phone">4000-51-51-51</p>
            </div>
            <a class="file_style f-fr addFile addStyle04 __dim__o" href="http://www.51talk.com/user/invitefriend?style=4" setdata="nav_ad_logo" title="邀请好友送次卡 " target="_blank"></a>
        </div>
    </div>
    <!-- /m-head -->
</div>
  <div class="contentWidth">
    <div class="double">
      <div class="banner">
        <div class="word">
          <p>稍后将由来自010致电</p>
          <p class="t">专属学习顾问为您预约课程安排老师，请保持电话畅通!</p>
        </div>
        <img src="../../images/double/double_banner.jpg" alt="">
      </div>
      <div class="experi">
        <p>您已获得外教1对1双师体验课机会！将免费获得下列体验：</p>
        <img src="../../images/double/double_img.png" alt="">
      </div>
    </div>
  </div>
  <div class="g-ft">
    <div class="g-in f-tac">
        <div class="links">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="http://www.51talk.com/page/about/" target="_blank" title="关于我们">关于我们</a><i>|</i>
            <a href="//Zhaopin.51talk.com" target="_blank" title="加入我们">加入我们</a><i>|</i>
            <a href="http://www.51talk.com/page/cet/" target="_blank" title="企业培训">企业培训</a><i>|</i>
            <a href="http://www.51talk.com/page/o2o/" target="_blank" title="O2O代理招募">O2O代理招募</a><i>|</i>
            <a href="http://www.51talk.com/ac/51TalkAC.php" target="_blank" title="AC客户端">AC客户端</a><i>|</i>
            <a href="//www.51kt.com/" title="无忧课堂" target="_blank">无忧课堂</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="trust">
            <a href="http://www.51honest.org/wscredit/detail.credit?action=preLevel&amp;credcode=NO.20000038643" target="_blank" title="信星认证" class="t1"></a>
            <a href="http://www.itrust.org.cn/home/index/itrust_certifi/wm/1579059481.html" target="_blank" title="企业信用认证" class="t2"></a>
            <a href="http://www.315online.com.cn/member/315120032.html" target="_blank" title="网上交易保障" class="t3"></a>
            <a href="#" title="支付宝特约商户" class="t4"></a>
        </div>
        <p class="piped">Copyrigh©北京大生知行科技有限公司<i>|</i>
            <a href="http://www.51talk.com/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><i>|</i>
            <a href="http://www.51talk.com/page/terms/" target="_blank" title="用户协议">用户协议</a><i>|</i>
            <a href="http://www.51talk.com/page/icp/" target="_blank" title="京ICP证110696号">京ICP证110696号</a><em></em>
            <a href="http://www.miibeian.gov.cn" target="_blank" title="京ICP备11031999号">京ICP备11031999号</a><em></em>
            <a href="javascript:;" target="_blank" title="京公网安备11010802018414号" style="cursor:text;">京公网安备11010802018414号</a><em></em>
        </p>
    </div>
</div>
  <script src="../../source/js/vendor.js" id="seajsnode"></script>
</body>
</html>