<div id="head"></div>
<div class="main">
    <div class="wrab-box wrab-box1">
        <div class="tip">
            <img src="../../images/payFlow/success_tip.png" />
            <p>您选购的课程支付成功</p>
        </div>
        <div class="list-tit">您已获得以下课程内容</div>
        <%if(point){%>
            <% for(var item in point){%>
                <div class="wrab-mod1 ">
                    <div class="table-tit">
                        <%=point[item].point_type_name%>
                    </div>
                    <div class="wrab-talble">
                        <table class="u-tab">
                            <tr>
                                <td>次卡</td>
                                <td>共
                                    <%= point[item].point%>次，可用于预约1v1外教课</td>
                            </tr>
                            <tr class="<%= point[item].class_time?'':'hide'%>">
                                <td>优选公开课</td>
                                <td>赠送
                                    <%= point[item].class_time %>课时，可用于预约优选公开课</td>
                            </tr>
                            <tr>
                                <td>上课要求</td>
                                <td><span> <%if(point[item].point_type=="point_package"){%>次卡最低要求：15次/月</br><%}%></span>
                                    <%if(point[item].point_type=="point_package"){%>如未满足，每月将按最低要求扣除次卡和课时。
                                        <%}%>总有效期到期时，未使用的课程将失效，有效期无法延长。</td>
                            </tr>
                            <tr>
                                <td>约课</td>
                                <td>支持预约未来14天的课程。约课后如需取消，请提前一小时在课程记录中进行取消，如缺席课程无法补课。</td>
                            </tr>
                            <tr>
                                <td>上课</td>
                                <td>上课时间：06：00-23:30。支持AC电脑客户端/手机端/iPad三种方式进行上课。</td>
                            </tr>
                        </table>
                    </div>

                </div>
                <%}%>
                    <%}%>
                        <%if(book){%>
                            <div class="wrab-mod2" style="margin-bottom:30px;">
                                <div class="table-tit">配套教材</div>
                                <div class="wrab-talble">
                                    <table class="u-tab">
                                        <tr>
                                            <td>选购详情</td>
                                            <td>
                                                <%= book%>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>发货说明</td>
                                            <td>收到您的订单后，我司将安排人员在3个工作日内，安排为您发件，如有关于物流的疑问可咨询客服。</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                            <%}%>
                                <%if(microphone){%>
                                    <div class="wrab-mod2">
                                        <div class="table-tit">耳机</div>
                                        <div class="wrab-talble">
                                            <table class="u-tab">
                                                <tr>
                                                    <td>选购详情</td>
                                                    <td>
                                                        <%= microphone%>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>发货说明</td>
                                                    <td>收到您的订单后，我司将安排人员在3个工作日内，安排为您发件，如有关于物流的疑问可咨询客服。</span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>
                                    <%}%>
                                        <%if(mix){%>
                                            <div class="wrab-mod1 ">
                                                <div class="table-tit">1对1中外教课程套餐</div>
                                                <div class="wrab-talble">
                                                    <table class="u-tab">
                                                        <tr>
                                                            <td>中教课</td>
                                                            <td>共
                                                                <%= mix.goods_num%>节，固定的中教课课表。</td>
                                                        </tr>
                                                        <tr>
                                                            <td>外教课课数</td>
                                                            <td class="redColor">共
                                                                <%= mix.point_num%>课，课数将在中教课开始后充入您的账号并生效。</td>
                                                        </tr>
                                                        <tr>
                                                            <td>上课要求</td>
                                                            <td>每周3节课，1节固定中教课（除寒暑假外），2节自约1对1外教课。</td>
                                                        </tr>
                                                        <tr>
                                                            <td>约课</td>
                                                            <td>外教课支持预约未来14天的课程，约课后如需取消，请提前1小时在课程记录中进行取消，如缺席课程无法补课。</td>
                                                        </tr>
                                                        <tr>
                                                            <td>上课</td>
                                                            <td>上课时间：06：00-23:30。支持AC电脑客户端和iPad 两种方式进行上课。</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <%}%>
    </div>
    <%if(mix){%>
        <div class="wrab-box wrab-box1 wrab-course">
            <div class="list-tit">完成以下三步就可以上课啦</div>
            <div class="course-box">
                <div class="course-detail">
                    <div class="course-time">
                        <h3 class="title">我的中教上课时间</h3>
                        <p>上课日期：<span class="redColor"><%= mix.classDate%></span></p>
                        <p>上课时间：<span class="redColor"><%= mix.classTime%></span><span><%= mix.extra_class_str%></span> <span class="redColor">外教课每周自约2节</span></p>
                    </div>
                    <div class="course-team">
                        <h3 class="title">加入班级群</h3>
                        <p>识别下方的班级二维码，加入班级群，中教老师将全程为您提供服务。</p>
                        <img class="wx_icon" src="<%= mix.qrcode%>" />
                    </div>
                    <div class="begin-class">
                        <h3 class="title">上课</h3>
                        <p>下载51Talk<a href="" target="_blank">AC客户端</a>或<a href="" target="_blank">ipad客户端</a>等待上课</p>
                        <p>1对1外教课将在中教课开始后充入账号，您即可通过官网预约课程，请提前30分钟登录账号准备上课。</p>
                    </div>
                </div>
            </div>
        </div>
        <%}%>
            <div class="wrab-box wrab-box2">
                <div class="tit">您可登录官网、APP查看您的课程信息，还可通过以下方式联系51Talk</div>
                <div class="concat-list">
                    <ul class="f-cb">
                        <li class="f-cb">
                            <img src="../../images/payFlow/concat1.png" />
                            <dl>
                                <dt>服务号添加“51Talk无忧英语”</dt>
                                <dd><span>■</span>在线客服随时接受问题</dd>
                                <dd><span>■</span>享受至尊上课提醒服务</dd>
                                <dd><span>■</span>最新热门英语话题速递</dd>
                            </dl>
                        </li>
                        <li class="f-cb">
                            <img src="../../images/payFlow/concat3.png" />
                            <dl>
                                <dt>无忧英语服务中心</dt>
                                <dd><span>■</span>手机/官网登录账号-服务中心</dd>
                                <dd><span>■</span>随时反馈您的任何问题</dd>
                                <dd><span>■</span>在线客服随时解答</dd>
                            </dl>
                        </li>
                        <li class="f-cb">
                            <img src="../../images/payFlow/concat2.png" />
                            <dl>
                                <dt>人工客服电话 <span>4000-51-51-51</span></dt>
                                <dd><span>■</span>约课、上课过程中出现的问题</dd>
                                <dd><span>■</span>关于课程有效期的任何问题与疑问咨询</dd>
                                <dd><span>■</span>关于51Talk服务过程中的相关投诉与建议</dd>
                            </dl>
                        </li>
                        <li class="f-cb">
                            <img src="../../images/payFlow/concat4.png" />
                            <dl>
                                <dt>专属顾问全程服务，随时随地在线解答</dt>
                                <dd><span>■</span>适合您的学习课程咨询服务</dd>
                                <dd><span>■</span>课程有效期内的上课福利、活动优惠咨询</dd>
                                <dd><span>■</span>退费、续购课程套餐福利服务等</dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
            <%if(point){%><a href="//www.51talk.com/reserve/index" class="orderClass" target="_blank">立即约课</a><%}%>
</div>
<div id="bottom"></div>