<div class="bannerText">
  <dl>
    <dt><img src="<%=imagessrc2%>exReceive/time_logo.png" alt=""></dt>
    <dd>我们为您准备了一节价值288元的外教1对1评测课，以便您更好的了解我们的在线课程服务</dd>
    <dd>免费体验机会将于<span>30天后过期</span>，请尽快预约！</dd>
  </dl>
</div>