<div class="basic">
  <dl class="info">
    <dt><a href="javascript:;" class="figure"><img src="<%=imagessrc2%>common/ex_service.jpg" alt=""></a></dt>
    <dd class="stu">Hi! Student!
      <a href="javascript:;" class="write">
        <i class="writeImg"></i>
        <div class="wLayer">
          给自己起个英文名，让老师提前认识你吧！
        </div>
      </a>
    </dd>
    <dd class="learn">
      学号：U20334355
      <span>学豆：0<i></i></span>
    </dd>
    <dd class="over">
      <i></i>
      剩余体验次数：<span class="num">1</span>次
      <span class="data">（有效期至2017年3月20日） </span>
      <a href="javascript:;" class="classTime">课次详情</a>
    </dd>
  </dl>
</div>