<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>基础信息</title>
  <script type="text/javascript">
    window.static_url="../../";
  </script>
</head>
<body data-init="exReceive/basic" id="container">
  <div id="basic">
    loading....
  </div>
</body>
<script src="<%= jsSource2%>" id="seajsnode"></script>
</html>