<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>领取体验课-选择上课时间</title>
  <link rel="stylesheet" type="text/css" href="<%= cssPath2 %>common/index_commons.css">
  <link rel="stylesheet" type="text/css" href="<%= cssPath2 %>exReceive/index_selsectTime.css">
  <script type="text/javascript">
    window.static_url="../../";
    window.time_url="www.51talk.com";//约课跳转
  </script>
</head>
<body data-init="exReceive/indexSelsectTime" id="container">
  <div id="indexSelsectTime">
    loading....
  </div>
  <input type="hidden" id="admin_id" value='0'>
  <input type="hidden" id="is_check" value='y'>
</body>
<script src="<%= jsSource2%>" id="seajsnode"></script>
</html>