<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>体验用户</title>
  <link rel="stylesheet" type="text/css" href="<%= cssPath2 %>common/index_commons.css">
  <link rel="stylesheet" type="text/css" href="<%= cssPath2 %>exReceive/index_before.css">
</head>
<body>
  <% include ../common/header.ejs %>
  <div class="contentWidth">
    <% include ../common/banner.ejs %>
    <div class="exContent">
      <% include ../common/sidebar.ejs %>
      <div class="content">
        <% include ./basic.ejs %>
        <div class="messageB">
          <ul>
            <li>我们为您准备了一节价值288元的外教1对1评测课</li>
            <li>以便您更好的了解我们的在线课程服务</li>
            <li><a href="javascript:;" class="receBtn">立即领取</a></li>
            <li>免费体验机会将于30天后过期  请尽快预约</li>
          </ul>
        </div>
      </div>
      <% include ../common/sidebarRt.ejs %>
    </div>
  </div>
</body>
<!-- <script src="<%= jsSource2%>" id="seajsnode"></script> -->
</html>