<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>体验用户</title>
    <link rel="stylesheet" type="text/css" href="<%= cssPath2 %>common/index_commons.css">
    <link rel="stylesheet" type="text/css" href="<%= cssPath2 %>exReceive/index_method.css">
</head>

<body>
    <% include ../common/header.ejs %>
        <div class="methods" data-init="exReceive/indexSelsectTime" id="container">
            <% include ./bannerText.ejs %>
                <div class="content">
                    <div class="success">
                        <img src="../../images/exReceive/succ_img.png" </div>
                        <h2>领取成功</h2>
                        <p>51Talk学习顾问将电话联系帮您约课</br>
                            请注意接听来自51Talk的电话</p>
                    </div>
                </div>
</body>
<script src="<%= jsSource2%>" id="seajsnode"></script>

</html>