<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>上完体验课后</title>
  <link rel="stylesheet" type="text/css" href="<%= cssPath2 %>common/index_commons.css">
  <link rel="stylesheet" type="text/css" href="<%= cssPath2 %>exReceive/index_finish.css">
  <link href="http://vjs.zencdn.net/5.8.8/video-js.css" rel="stylesheet">
  <script type="text/javascript">
    window.static_url="../../";
  </script>
</head>
<body data-init="exReceive/indexFinish" id="container">
  <div id="indexFinish">
    loading....
  </div>
  <!-- 用户身份 2：青少 其它：成人 -->
  <input type="hidden" id="user_type" value="1">
</body>
<script src="http://vjs.zencdn.net/5.8.8/video.js"></script>
<script src="<%= jsSource2%>" id="seajsnode"></script>
</html>