<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>体验用户</title>
  <link rel="stylesheet" type="text/css" href="<%= cssPath2 %>common/index_commons.css">
  <link rel="stylesheet" type="text/css" href="<%= cssPath2 %>exReceive/index_success.css">
  <script type="text/javascript">
    window.static_url="../../";
    window.return_url="www.baidu.com"; //返回首页链接
  </script>
</head>
<body data-init="exReceive/indexSuccess" id="container">
  <div id="indexSuccess">
   loading....
  </div>
  <!-- 1成人 or 0青少 -->
  <input type="hidden" id="userId" value="0">
  <input type="hidden" id="appoint_id" value="500009855">
</body>
<script src="<%= jsSource2%>" id="seajsnode"></script>
</html>