<div class="moreSubs subsTwo">
    <h3 class="title">
      <span class="youth">请您填写孩子的学习情况，以便我们提供适合您孩子英语水平的课程</span>
      <span class="ault hide">请填写您的详细信息，以便我们提供适合您英语水平的课程</span>
    </h3>
    <div class="subsBox">
      <%  for(var keys in data.identity) {%>
      <dl class="subList subBtn stuAge" data-id="<%= keys %>" id="stuAge<%= keys %>">
        <dt>
          <span class="youth">学龄阶段</span>
          <span class="ault hide">您的职业</span>
        </dt>
        <%  for(var key in data.identity[keys]) {%>
          <dd data-id="<%= data.identity[keys][key].id %>" data-show="<%= data.identity[keys][key].is_show %>" data-value="<%= data.identity[keys][key].value %>"><%= data.identity[keys][key].name %></dd>
        <% } %>
      </dl>  
      <% } %> 
      <%  for(var keys in data.grade) {%>
      <dl class="subBtn garde hide" data-id="<%= keys %>" id="garde<%= keys %>">
        <dt><img src="../../images/usersSelect/grade_line.png"/></dt>
          <%  for(var key in data.grade[keys]) {%>
            <dd data-id="<%= data.grade[keys][key].id %>" data-show="<%= data.grade[keys][key].is_show %>" data-value="<%= data.grade[keys][key].value %>"><span></span><%= data.grade[keys][key].name %></dd>
          <% } %>
      </dl>
      <% } %>
      <%  for(var keys in data.purpose) {%>
      <dl class="subList subBtn purpose hide" data-id="<%= keys %>" id="purpose<%= keys %>">
        <dt>
          <span>学习目的</span>
        </dt>
        <%  for(var key in data.purpose[keys]) {%>
          <dd data-id="<%= data.purpose[keys][key].id %>" data-value="<%= data.purpose[keys][key].value %>"><span></span><%= data.purpose[keys][key].name %></dd>
        <% } %>
      </dl>
      <% } %>
      <%  for(var keys in data.english_level) {%>
      <dl class="subList subBtn engLevel hide" data-id="<%= keys %>" id="engLevel<%= keys %>">
        <dt>
          <span>英语水平</span>
        </dt>
        <%  for(var key in data.english_level[keys]) {%>
          <dd data-id="<%= data.english_level[keys][key].id %>" data-value="<%= data.english_level[keys][key].value %>"><span></span><%= data.english_level[keys][key].name %></dd>
        <% } %>
      </dl>
      <% } %>
    </div>
  </div>
  <div class="formSub">
    <a href="javascript:;" class="return">返回上一页</a>
    <a href="javascript:;" onclick = "__sdonclick('Idchoose_finish');" class="complete">完成</a>
  </div>