<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>体验用户</title>
  <link rel="stylesheet" type="text/css" href="../../css/common/index_commons.css">
  <link rel="stylesheet" type="text/css" href="../../css/exReceive/index_finish.css">
</head>
<body>
  <div class="g-hd">
    <div class="m-top" id="jsHead">
        <div class="g-in f-cb">
            <div class="m-menu f-fl">
                <a class="user __dim__o" setdata="UserMenu_username" href="http://www.51talk.com/user/index">hi,<em class="nick">Bonnie</em>！</a><i>|</i><a class="msg __dim__o" setdata="UserMenu_msg" href="http://www.51talk.com/user/wll">消息<span class="num">37</span></a>
                <span
                    class="tips"><a class="txt" href="http://www.51talk.com/user/review?opinion=no">您有2节课程需要评价</a><span class="close">关闭</span></span><i>|</i><a class="__dim__o" setdata="UserMenu_logout" href="http://www.51talk.com/sso/logout">退出</a>
            </div>
            <ul class="m-link f-ib f-fr">
                <li><a href="http://www.51talk.com/" class="__dim__o" setdata="HeadLink_1">官网首页</a></li>
                <li><a href="https://sale.51talk.com" class="__dim__o" setdata="HeadLink_2">购买课程</a></li>
                <li>
                    <a href="http://www.51talk.com/index/system" class="__dim__o" setdata="HeadLink_3">课程介绍</a></li>
                <li>
                    <a href="http://www.51talk.com/testing/index/?type=login" class="__dim__o" setdata="HeadLink_4">英语水平</a>
                </li>
                <li><a target="_blank" href="http://www.51talk.com/page/faq" class="__dim__o" setdata="HeadLink_5">常见问题</a></li>
                <li><a target="_blank" href="http://www.51talk.com/page/cet" class="__dim__o" setdata="HeadLink_6">企业培训</a></li>
                <li class="jsMore follow"><a href="http://www.51talk.com/page/about/" class="__dim__o" setdata="HeadLink_7">关注我们</a>
                    <ul class="jsUl">
                        <li class="tsina"><a href="http://weibo.com/51talk" rel="nofollow" target="_blank">新浪微博</a></li>
                        <li class="tqq"><a href="http://e.t.qq.com/t51talk" rel="nofollow" target="_blank">腾讯微博</a></li>
                    </ul>
                </li>
                <li><a href="http://www.51talk.com/user/invitefriend" target="_blank" class="__dim__o" setdata="HeadLink_8">邀请有礼</a></li>
                <li><a href="http://www.51talk.com/activity/ipadClient" target="_blank" onclick="__sdonclick('ipadclient');" title="iPad客户端">iPad客户端</a></li>
            </ul>
        </div>
        <div class="down_ac" style="width:105px;height:78px;position:absolute;top:0;right:0;">
            <a href="http://www.51talk.com/ac/51TalkAC.php" target="_blank"><img src="http://static.51talk.com/static/image/menber/un/down_AC.png?v=1511417080594" alt=""></a>
        </div>
    </div>
    <!-- /m-top -->
    <div class="m-head">
        <div class="g-in">
            <h1 class="logo"><a href="http://www.51talk.com/" class="__dim__o" setdata="nav_51talk_logo">51talk 无忧英语</a></h1>
            <ul class="nav">
                <li class="crt"><a href="http://www.51talk.com/user/index" class="__dim__o" setdata="nav_1">首页</a></li>
                <li><a href="http://www.51talk.com/user/remind" class="__dim__o" setdata="nav_2">账户设置</a></li>
                <li><a href="https://sale.51talk.com" class="__dim__o" setdata="nav_3">购买课程</a></li>
                <li><a href="//bbs.51talk.com" target="_blank" hidefocus="true" style="outline:none;" class="__dim__o" setdata="nav_4">学习社区</a></li>
            </ul>
            <div class="contact">
                <p><a href="javascript:void(0)" onclick="easemobIM()" data-type="261110" rel="nofollow" class="hiring u-b-ntkf" title="在线客服" data-url="/Ajax/countQqZiXun">客服在线咨询 (09:00-22:30)</a></p>
                <p class="phone">4000-51-51-51</p>
            </div>
            <a class="file_style f-fr addFile addStyle04 __dim__o" href="http://www.51talk.com/user/invitefriend?style=4" setdata="nav_ad_logo" title="邀请好友送次卡 " target="_blank"></a>
        </div>
    </div>
    <!-- /m-head -->
</div>
  <div class="contentWidth">
    <div class="banner">
  <ul class="p-pic">
    <li>
      <img src="../../images/common/banner.jpg" alt="">
      <div class="silderDate">
        <span class="d-r"></span>
        <div class="d-timer">
          <div class="t-lt">
            <span>购买人数：287554451</span>
          </div>
          <div class="t-rt" data-end-time="2017/12/28 15:45:00" id="dataTime">
            <span class="u-t">距结束</span>
            <span class="u-day"><i>0</i>天</span>
            <span class="u-hour"><i>00</i>:</span>
            <span class="u-minute"><i>00</i>:</span>
            <span class="u-second"><i>00</i></span>
          </div>
        </div>
        <span class="d-l"></span>
      </div>
    </li>
    <li><img src="../../images/common/xx.png" alt=""></li>
    <li><img src="../../images/common/nav_btn.png" alt=""></li>
  </ul>
  <ul class="p-switch">
    <li class="crt"></li>
    <li></li>
    <li></li>
  </ul>
</div>
    <div class="exContent">
      <div class="sidebar">
  <ul class="menu">
    <li class="difList learn">学习</li>
    <li><a href="javascript:;" class="dirm">预约评测课</a></li>
    <li><a href="javascript:;" class="dirm">外教1对4精品课</a></li>
    <li><a href="javascript:;" class="dirm">已预约的课程</a></li>
    <li class="difList exercise">学习</li>
    <li><a href="javascript:;" class="dirm">EFL课前课后练习</a></li>
    <li class="difList test">测试</li>
    <li><a href="javascript:;" class="dirm">阶段性水平测试</a></li>
    <li class="difList coach">辅导</li>
    <li><a href="javascript:;" class="dirm">绘本馆</a></li>
    <li><a href="javascript:;" class="dirm">公开课</a></li>
  </ul>
  <ul class="menu service">
    <li class="difList study">学习</li>
    <li><a href="javascript:;" class="dirm">服务中心入口</a></li>
    <li><a href="javascript:;" class="dirm">网站动态</a></li>
    <li><a href="javascript:;" class="dirm">上课百宝箱</a></li>
    <li>
      <div class="download">
        软件下载<i>></i>
        <div class="loadLayer">
          <div>
            <a href="javascript:;">AC在线教室电脑客户端</a>
            <a href="javascript:;">青少课堂iPad客户端</a>
            <a href="javascript:;">51Talk手机客户端</a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
      <div class="content">
        <div class="basic">
  <dl class="info">
    <dt><a href="javascript:;" class="figure"><img src="../../images/common/ex_service.jpg" alt=""></a></dt>
    <dd class="stu">Hi! Student!
      <a href="javascript:;" class="write">
        <i class="writeImg"></i>
        <div class="wLayer">
          给自己起个英文名，让老师提前认识你吧！
        </div>
      </a>
    </dd>
    <dd class="learn">
      学号：U20334355
      <span>学豆：0<i></i></span>
    </dd>
    <dd class="over">
      <i></i>
      剩余体验次数：<span class="num">1</span>次
      <span class="data">（有效期至2017年3月20日） </span>
      <a href="javascript:;" class="classTime">课次详情</a>
    </dd>
  </dl>
</div>
        <div class="results">
          <h3>
              最近一次外教课上课记录
            <a href="javascript:;" class="more">更多></a>
          </h3>
          <div class="lists">
            <h4>
              <i></i>
              2017/12/30<span>14:30 - 14:55</span>
              <a href="javascript:;" class="evlBtn">1对1外教评测课</a>
            </h4>
            <dl>
              <dt class="hide">
                <!-- 测试报告 -->
                <span>您的级别<br><i>level5</i></span>
                <!-- 测试报告生成中 -->
                <!-- <span>评测报告<br>正在生成中<br>...</span> -->
              </dt>
              <dt class="absent"></dt><!-- 缺席 -->
              <dd class="ts">教你稳过名校面试</dd>
              <dd>Dealing with the school interview</dd>
              <dd class="tt"><img src="../../images/exReceive/r_after_ipad.jpg" alt="">51talk teacher</dd>
            </dl>
          </div>
          <div class="basicList">
            <ul class="preList">
              <!-- 上完体验课后 -->
              <li class="check hide"><a href="javascript:;" class="see"><i></i>查看评测报告</a></li>
              <!-- 测试报告生成中 -->
              <li class=""><a href="javascript:;" class="review"><i></i>评价课程</a></li>
              <li class=""><a href="javascript:;" class="classTest"><i></i>课后测试</a></li>
              <li class="">
                <a href="javascript:;" class="playback"><i></i>课程回放
                  <div class="modiLayer">
                    <div class="layer">
                      <i></i>
                      <span>视频将在上课结束后的24小时内生成，如一直未生成，则可能是由于网络问题或语音通道不支持导致未录屏成功。</span>
                    </div>
                  </div>
                </a>
              </li>
              <!-- 缺席 -->
              <li class="courseLi hide"><a href="javascript:;" class="courseBtn">再约一节</a></li>
              <!-- 无卡缺席 -->
              <li class="courseTel hide">请联系客服 4000-515151 再约一节</li>
            </ul>
          </div>
        </div>
        <!-- 了解更多 -->
        <div class="moreServer">
          <h3>了解更多51Talk课程服务</h3>
          <div class="info-stu">
            <div class="stu-read">
              <a href="javascript:;">查看详情</a>
            </div>
            <div class="cls-video">
              <img src="../../images/exReceive/r_more_video.jpg">
              <i class="video-btn"></i>
              <span class="title">了解51Talk的课程与服务</span>
            </div>
          </div>
          <div class="package">
            <span>查看课程套餐</span>
            <a href="javascript:;" class="buy-btn">现在购买立即优惠></a>
          </div>
        </div>
      </div>
      <div class="sideRt">
  <ul class="mdT">
    <li><img src="../../images/common/ex_cls.jpg" alt=""></li>
    <li>您的专属课程顾问</li>
    <li>扫描微信二维码</li>
    <li>添加您的专属课程顾</li>
  </ul>
  <ul class="mdC">
    <li><img src="../../images/common/ex_weixin.jpg" alt=""></li>
    <li>51Talk 微信服务号</li>
    <li>提供上课提醒</li>
    <li>咨询客服等服务</li>
  </ul>
  <ul class="mdB">
    <li>服务中心</li>
    <li><a href="javascript:;">点击进入></a></li>
    <li><img src="../../images/common/ex_service.png" alt=""></li>
  </ul>
</div>
    </div>
  </div>
  <!-- 成人 -->
  <div class="deLayer hide" id="adultBtn">
    <div class="view">
      <span class="ltBtn hide"></span>
      <span class="rtBtn"></span>
      <div class="content">
        <img src="../../images/common/delete.png" class="delete" alt="">
        <div class="cont">
          <ul class="lists">
            <li><img src="../../images/exReceive/new_adult01.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_adult02.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_adult03.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_adult04.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_adult05.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_adult06.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_adult07.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_adult08.jpg" alt=""></li>
          </ul>
          <ul class="switch">
            <li class="crt"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- 青少 -->
  <div class="deLayer" id="youthBtn">
    <div class="view">
      <span class="ltBtn hide"></span>
      <span class="rtBtn"></span>
      <div class="content">
        <img src="../../images/common/delete.png" class="delete" alt="">
        <div class="cont">
          <ul class="lists">
            <li><img src="../../images/exReceive/new_youth01.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_youth02.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_youth03.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_youth04.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_youth05.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_youth06.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_youth07.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_youth08.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_youth09.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_youth10.jpg" alt=""></li>
          </ul>
          <ul class="switch">
            <li class="crt"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- 查看详情 -->
  <div class="deLayer hide">
    <div class="view">
      <span class="ltBtn"></span>
      <span class="rtBtn"></span>
      <div class="content">
        <img src="../../images/common/delete.png" class="delete" alt="">
        <div class="cont">
          <ul class="lists">
            <li><img src="../../images/exReceive/new_adult01.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_adult02.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_adult03.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_adult04.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_adult05.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_adult06.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_adult07.jpg" alt=""></li>
            <li><img src="../../images/exReceive/new_adult08.jpg" alt=""></li>
          </ul>
          <ul class="switch">
            <li class="crt"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="g-ft">
    <div class="g-in f-tac">
        <div class="links">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="http://www.51talk.com/page/about/" target="_blank" title="关于我们">关于我们</a><i>|</i>
            <a href="//Zhaopin.51talk.com" target="_blank" title="加入我们">加入我们</a><i>|</i>
            <a href="http://www.51talk.com/page/cet/" target="_blank" title="企业培训">企业培训</a><i>|</i>
            <a href="http://www.51talk.com/page/o2o/" target="_blank" title="O2O代理招募">O2O代理招募</a><i>|</i>
            <a href="http://www.51talk.com/ac/51TalkAC.php" target="_blank" title="AC客户端">AC客户端</a><i>|</i>
            <a href="//www.51kt.com/" title="无忧课堂" target="_blank">无忧课堂</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="trust">
            <a href="http://www.51honest.org/wscredit/detail.credit?action=preLevel&amp;credcode=NO.20000038643" target="_blank" title="信星认证" class="t1"></a>
            <a href="http://www.itrust.org.cn/home/index/itrust_certifi/wm/1579059481.html" target="_blank" title="企业信用认证" class="t2"></a>
            <a href="http://www.315online.com.cn/member/315120032.html" target="_blank" title="网上交易保障" class="t3"></a>
            <a href="#" title="支付宝特约商户" class="t4"></a>
        </div>
        <p class="piped">Copyrigh©北京大生知行科技有限公司<i>|</i>
            <a href="http://www.51talk.com/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><i>|</i>
            <a href="http://www.51talk.com/page/terms/" target="_blank" title="用户协议">用户协议</a><i>|</i>
            <a href="http://www.51talk.com/page/icp/" target="_blank" title="京ICP证110696号">京ICP证110696号</a><em></em>
            <a href="http://www.miibeian.gov.cn" target="_blank" title="京ICP备11031999号">京ICP备11031999号</a><em></em>
            <a href="javascript:;" target="_blank" title="京公网安备11010802018414号" style="cursor:text;">京公网安备11010802018414号</a><em></em>
        </p>
    </div>
</div>
</body>
<!-- <script src="../../source/js/vendor.js" id="seajsnode"></script> -->
</html>