<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>体验用户</title>
  <link rel="stylesheet" type="text/css" href="../../css/common/index_commons.css">
  <link rel="stylesheet" type="text/css" href="../../css/exReceive/index_success.css">
</head>
<body data-init="exReceive/indexSuccess" id="container">
  <div class="g-hd">
    <div class="m-top" id="jsHead">
        <div class="g-in f-cb">
            <div class="m-menu f-fl">
                <a class="user __dim__o" setdata="UserMenu_username" href="http://www.51talk.com/user/index">hi,<em class="nick">Bonnie</em>！</a><i>|</i><a class="msg __dim__o" setdata="UserMenu_msg" href="http://www.51talk.com/user/wll">消息<span class="num">37</span></a>
                <span
                    class="tips"><a class="txt" href="http://www.51talk.com/user/review?opinion=no">您有2节课程需要评价</a><span class="close">关闭</span></span><i>|</i><a class="__dim__o" setdata="UserMenu_logout" href="http://www.51talk.com/sso/logout">退出</a>
            </div>
            <ul class="m-link f-ib f-fr">
                <li><a href="http://www.51talk.com/" class="__dim__o" setdata="HeadLink_1">官网首页</a></li>
                <li><a href="https://sale.51talk.com" class="__dim__o" setdata="HeadLink_2">购买课程</a></li>
                <li>
                    <a href="http://www.51talk.com/index/system" class="__dim__o" setdata="HeadLink_3">课程介绍</a></li>
                <li>
                    <a href="http://www.51talk.com/testing/index/?type=login" class="__dim__o" setdata="HeadLink_4">英语水平</a>
                </li>
                <li><a target="_blank" href="http://www.51talk.com/page/faq" class="__dim__o" setdata="HeadLink_5">常见问题</a></li>
                <li><a target="_blank" href="http://www.51talk.com/page/cet" class="__dim__o" setdata="HeadLink_6">企业培训</a></li>
                <li class="jsMore follow"><a href="http://www.51talk.com/page/about/" class="__dim__o" setdata="HeadLink_7">关注我们</a>
                    <ul class="jsUl">
                        <li class="tsina"><a href="http://weibo.com/51talk" rel="nofollow" target="_blank">新浪微博</a></li>
                        <li class="tqq"><a href="http://e.t.qq.com/t51talk" rel="nofollow" target="_blank">腾讯微博</a></li>
                    </ul>
                </li>
                <li><a href="http://www.51talk.com/user/invitefriend" target="_blank" class="__dim__o" setdata="HeadLink_8">邀请有礼</a></li>
                <li><a href="http://www.51talk.com/activity/ipadClient" target="_blank" onclick="__sdonclick('ipadclient');" title="iPad客户端">iPad客户端</a></li>
            </ul>
        </div>
        <div class="down_ac" style="width:105px;height:78px;position:absolute;top:0;right:0;">
            <a href="http://www.51talk.com/ac/51TalkAC.php" target="_blank"><img src="http://static.51talk.com/static/image/menber/un/down_AC.png?v=1511417080594" alt=""></a>
        </div>
    </div>
    <!-- /m-top -->
    <div class="m-head">
        <div class="g-in">
            <h1 class="logo"><a href="http://www.51talk.com/" class="__dim__o" setdata="nav_51talk_logo">51talk 无忧英语</a></h1>
            <ul class="nav">
                <li class="crt"><a href="http://www.51talk.com/user/index" class="__dim__o" setdata="nav_1">首页</a></li>
                <li><a href="http://www.51talk.com/user/remind" class="__dim__o" setdata="nav_2">账户设置</a></li>
                <li><a href="https://sale.51talk.com" class="__dim__o" setdata="nav_3">购买课程</a></li>
                <li><a href="//bbs.51talk.com" target="_blank" hidefocus="true" style="outline:none;" class="__dim__o" setdata="nav_4">学习社区</a></li>
            </ul>
            <div class="contact">
                <p><a href="javascript:void(0)" onclick="easemobIM()" data-type="261110" rel="nofollow" class="hiring u-b-ntkf" title="在线客服" data-url="/Ajax/countQqZiXun">客服在线咨询 (09:00-22:30)</a></p>
                <p class="phone">4000-51-51-51</p>
            </div>
            <a class="file_style f-fr addFile addStyle04 __dim__o" href="http://www.51talk.com/user/invitefriend?style=4" setdata="nav_ad_logo" title="邀请好友送次卡 " target="_blank"></a>
        </div>
    </div>
    <!-- /m-head -->
</div>
  <div class="success">
    <div class="part-1">
      <dl class="appoint">
        <dt><img src="../../images/exReceive/succ_img.png" alt=""></dt>
        <dd class="tit">体验课预约成功！</dd>
        <dd>外教老师正在努力为宝贝备课中，请记得准时参加，不要浪费老师的辛苦付出，让老师白等哦～</dd>
      </dl>
      <p class="codeTit">请扫描下方二维码，关注51talk青少微信服务号，获取上课自动提醒。</p>
      <dl class="codeImg">
        <dt><img src="../../images/exReceive/suc_code.jpg" alt=""></dt>
        <dd class="classT">以下为您预约的课程信息：</dd>
        <dd>上课时间：<span>2017/11/20</span><span>14:00 - 14:25</span></dd>
        <dd>教材名称：我的玩具My toys</dd>
        <dd>上课方式：<span>51talk青少课堂</span><span>iPad端</span></dd>
      </dl>
    </div>
    <div class="part-2">
      <div class="list-title">
        <img src="../../images/exReceive/suc_list_img01.png" alt="" class="r-img">
        <span class="youth-read">宝爸宝妈必看：如何上好这节外教课！</span>
        <span class="adult-read">课前必看：如何上好这节外教课！</span>
      </div>
      <div class="list-before">
        <img src="../../images/exReceive/suc_list_img03.png" alt="" class="r-img">
        <div class="list-class">
          <h3>课前准备</h3>
          <p class="youth-class">观看视频，了解体验课上课准备事项，并提前下载上课软件，才能更好的陪伴宝贝上课哦～</p>
          <p class="adult-class hide">观看视频，了解体验课上课准备事项，并提前下载上课软件。</p>
          <ul class="u-list">
            <li onclick = "__sdonclick('51video_before');">
              <img src="../../images/exReceive/suc_video.png" alt="">
              <img src="../../images/exReceive/r_video_btn.png" alt="" class="video-btn">
              <span class="span-1">课前准备必看</span>
            </li>
            <li onclick = "__sdonclick('word_video');"  class="youth-li">
              <img src="../../images/exReceive/suc_eng_video.png" alt="">
              <img src="../../images/exReceive/r_video_btn.png" alt="" class="video-btn">
              <span class="span-1">外教课堂常用指令</span>
            </li>
          </ul>
          <p class="ipadYouth adult-li hide">
            <a href="http://www.51talk.com/ac/51TalkAC.php" target="_blank"><img src="../../images/exReceive/suc_adult_img.png"></a>
          </p>
          <p class="ipadYouth youth-li">
            <a href="http://www.51talk.com/activity/ipadClient" target="_blank"><img src="../../images/exReceive/suc_img_ipad.png" alt="" class="suc-img-ipad"></a>
            <a href="http://www.51talk.com/ac/51TalkAC.php" target="_blank"><img src="../../images/exReceive/suc_img_ac.png" alt="" class="suc-img-ac"></a>   
          </p>
        </div>
      </div>
      <div class="list-preview">
        <img src="../../images/exReceive/suc_list_img04.png" alt="" class="r-img">  
        <div class="list-class">
          <h3>预习课程</h3>
          <p>为了让宝贝能更好地和外教沟通，我们的中教老师专门为宝贝录制了预习视频，快带着宝贝提前了解下本节课的上课内容吧～</p>
          <div class="video">
            <img src="../../images/exReceive/suc_video_y.png" alt="">
            <img src="../../images/exReceive/r_video_btn.png" alt="" class="video-btn">
          </div>
          <div class="basic-list">
            <ul>
              <li class="check"><a href="javascript:;" class="preview" onclick = "__sdonclick('preview');"><i></i>课程预习</a></li>
              <li><a href="javascript:;" class="download" onclick = "__sdonclick('downloadbook');" target="_blank"><i></i>下载教材</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="returnBtn"><a href="javascript:;">返回首页</a></div>
  </div>
</body>
<!-- <script src="../../source/js/vendor.js" id="seajsnode"></script> -->
</html>