<div class="basic">
  <dl class="info">
    <dt><a href="<%= data.update_avatar %>"  class="figure"><img src="<%= data.avatar_new %>" alt=""></a></dt>
    <dd class="stu"><%= data.nick_name %>
      <a href="<%= data.update_user %>"  class="write">
        <i class="writeImg"></i>
        <div class="wLayer">
          给自己起个英文名，让老师提前认识你吧！
        </div>
      </a>
      <a href="https://sale.51talk.com/" target="_blank" onclick = "__sdonclick('buybutton');" class="buyBtn hide">购买课程</a>
    </dd>
    <dd class="learn">
      学号：<%= data.stu_num %>
      <span>学豆：<%= data.credit %><a href="<%= data.user_credit %>"><i></i></a></span>
    </dd>
    <dd class="over">
      <i></i>
      剩余体验次数：<span class="num"><%= data.point_num %></span>次
      <% if(data.point_num != 0) {%>
        <span class="data">（有效期至<%= data.valid_end %>） </span>
      <% } %>
      <a href="<%= data.user_asset %>" class="classTime">课次详情</a>
    </dd>
    <% if(data.classtime_num != 0) {%>
    <dd class="classNum">剩余课时：<span class="num"><%= data.classtime_num %></span>课时</dd>
    <% } %>
    <% if(data.point1v2_num != 0) {%>
    <dd class="classNum">剩余课数：<span class="num"><%= data.point1v2_num %></span>课数</dd>
    <% } %>
  </dl>
</div>
