<div class="results">
  <h3>
    我预约的体验课
    <a href="http://www.51talk.com/user/appoint"  class="more">更多></a>
  </h3>
  <div class="lists leveLists">
    <h4>
      <i></i>
      <%= data.show_time_for_stu %>
      <a href="javascript:;" class="evlBtn">1对1外教体验课</a>
    </h4>
    <dl>
      <% if(data.preview_video == '') {%>
        <dt><img src="../../images/exReceive/r_after_img.png" alt=""></dt>
      <% } else{ %>
        <dt>
          <div class="viewDt" data-video="<%= data.preview_video %>" onclick = "__sdonclick('exclassvideo');">
            <img src="../../images/exReceive/viewImg.png" alt="" class="viewImg">
            <i class="view-btn"></i>
          </div>
        </dt>
      <% } %>
      <dd class="ts"><%= data.course_name %></dd>
      <dd><%= data.course_name_en_us %></dd>
      <dd class="tt">
        <% if(data.teacher_url == '') {%>
          <img src="<%= data.tea_pic %>" alt="">
        <% } else{ %>
          <a href="<%= data.teacher_url %>" target="_brank"><img src="<%= data.tea_pic %>" alt=""></a>
        <% } %>
      <%= data.tea_name %></dd>
    </dl>
  </div>
  <div class="basicList">
    <ul class="preList">
      <% if(data.url_preview != '') {%>
        <li class="check"><a href="<%= data.url_preview %>" onclick = "__sdonclick('preview');" class="preview"><i></i>课程预习</a></li>
      <% } %>
      <li><a href="<%= data.book_url %>" onclick = "__sdonclick('downloadbook');" target="_blank" class="download"><i></i>下载教材</a></li>
      <% if(data.updateble_book == true) {%>
        <li><a href="http://www.51talk.com/reserve/upcourse/<%= data.id %>" onclick = "__sdonclick('changebook');" class="modify">
      <% } else{ %>
        <li class="notCheck"><a href="javascript:;" class="modify">
      <% } %>
          <i></i>修改教材
          <div class="modiLayer">
            <div class="layer">
              <i></i>
              <span>
                <!-- admin_id大于0后台登录模式 -->
                <% if(data.admin_id > 0) { %> 
                  课前10分钟内无法修改教材
                <% } else { %>
                  课前1小时以内无法修改教材
                <% } %>  
              </span>
            </div>
          </div>
        </a>
      </li>
      <% if(data.updateble == true) {%>
        <li><a href="http://www.51talk.com/reserve/cancel/<%= data.id %>" onclick = "__sdonclick('cancel');" class="cancel">
      <% } else{ %>
        <li class="notCheck"><a href="javascript:;" class="cancel">
      <% } %>
        <i></i>取消课程
        <div class="modiLayer">
          <div class="layer">
            <i></i>
            <span>课前半小时内无法取消课程</span>
          </div>
        </div>
      </a></li>
      <!-- <li class="notice hide"><i></i>半小时不可取消</li> -->
    </ul>
  </div>
</div>