<div class="success">
    <div class="part-1">
        <dl class="appoint">
          <dt><img src="../../images/exReceive/succ_img.png" alt=""></dt>
          <dd class="tit">体验课预约成功！</dd>
          <dd class="youth-li">外教老师正在努力为宝贝备课中，请记得准时参加，不要浪费老师的辛苦付出，让老师白等哦～</dd>
          <dd class="adult-li hide">外教老师正在努力备课中，请记得准时参加，不要浪费老师的辛苦付出，让老师白等哦～</dd>
        </dl>
        <p class="codeTit youth-li">请扫描下方二维码，关注51talk青少微信服务号，获取上课自动提醒。</p>
        <p class="codeTit adult-li hide">请扫描下方二维码，关注51talk微信服务号，获取上课自动提醒。</p>
        <dl class="codeImg">
          <dt><img src="<%= data.qrcode %>" alt=""></dt>
          <dd class="classT">以下为您预约的课程信息：</dd>
          <dd>上课时间：<%= data.show_time_for_stu %></dd>
          <dd>教材名称：<span><%= data.course_name %></span><span><%= data.course_name_en_us %></span></dd>
          <dd>上课方式：<%= data.teach_type %></dd>
        </dl>
      </div>
      <div class="part-2">
        <div class="list-title">
          <img src="../../images/exReceive/suc_list_img01.png" alt="" class="r-img">
          <span class="youth-li">宝爸宝妈必看：如何上好这节外教课！</span>
          <span class="adult-li hide">课前必看：如何上好这节外教课！</span>
        </div>
        <div class="list-before">
          <img src="../../images/exReceive/suc_list_img03.png" alt="" class="r-img youth-li">
          <img src="../../images/exReceive/suc_list_img02.png" alt="" class="r-img adult-li hide">
          <div class="list-class">
            <h3>课前准备</h3>
            <p class="youth-li">观看视频，了解体验课上课准备事项，并提前下载上课软件，才能更好的陪伴宝贝上课哦～</p>
            <p class="adult-li hide">观看视频，了解体验课上课准备事项，并提前下载上课软件。</p>
            <ul class="u-list">
              <li onclick = "__sdonclick('51video_before');">
                <img src="../../images/exReceive/suc_video.png" alt="">
                <img src="../../images/exReceive/r_video_btn.png" alt="" class="video-btn">
                <span class="span-1">课前准备必看</span>
              </li>
              <li onclick = "__sdonclick('word_video');"  class="youth-li">
                <img src="../../images/exReceive/suc_eng_video.png" alt="">
                <img src="../../images/exReceive/r_video_btn.png" alt="" class="video-btn">
                <span class="span-1">外教课堂常用指令</span>
              </li>
            </ul>
            <p class="ipadYouth adult-li hide">
              <a href="http://www.51talk.com/ac/51TalkAC.php" target="_blank"><img src="../../images/exReceive/suc_adult_img.png"></a>
            </p>
            <p class="ipadYouth youth-li">
              <a href="//www.51talk.com/h/download.html" target="_blank"><img src="../../images/exReceive/suc_img_ipad.png" alt="" class="suc-img-ipad"></a>
              <a href="//www.51talk.com/ac/51TalkAC.php" target="_blank"><img src="../../images/exReceive/suc_img_ac.png" alt="" class="suc-img-ac"></a>   
            </p>
          </div>
        </div>
        <div class="list-preview youth-li">
          <img src="../../images/exReceive/suc_list_img04.png" alt="" class="r-img">
          <div class="list-class">
            <h3>预习课程</h3>
            <%  if(data.preview_video.length) {%>
            <p>为了让宝贝能更好地和外教沟通，我们的中教老师专门为宝贝录制了预习视频，快带着宝贝提前了解下本节课的上课内容吧～</p>
            <div class="video">
              <img src="../../images/exReceive/suc_video_y.png" alt="">
              <img src="../../images/exReceive/r_video_btn.png" alt="" class="preview-btn" data-video="<%= data.preview_video %>" onclick = "__sdonclick('exclassvideo');">
            </div>
            <% } else { %>
            <div class="basic-list">
              <ul>
              <% if(data.url_preview != "") {%>
                <li class="check"><a href="<%= data.url_preview %>" target="_blank" class="preview" onclick = "__sdonclick('preview');"><i></i>课程预习</a></li>
              <% }  %>
              <li><a href="<%= data.book_url %>" class="download" onclick = "__sdonclick('downloadbook');" target="_blank"><i></i>下载教材</a></li>
              </ul>
            </div>
            <% }  %>
          </div>
        </div>
      </div>
      <div class="returnBtn"><a href="javascript:;">返回首页</a></div>
      <div id="video"></div>
  </div>