<div class="banner">
  <ul class="p-pic">
    <li>
      <img src="<%=imagessrc2%>common/banner.jpg" alt="">
      <div class="silderDate">
        <span class="d-r"></span>
        <div class="d-timer">
          <div class="t-lt">
            <span>购买人数：287554451</span>
          </div>
          <div class="t-rt" data-end-time="2017/12/28 15:45:00" id="dataTime">
            <span class="u-t">距结束</span>
            <span class="u-day"><i>0</i>天</span>
            <span class="u-hour"><i>00</i>:</span>
            <span class="u-minute"><i>00</i>:</span>
            <span class="u-second"><i>00</i></span>
          </div>
        </div>
        <span class="d-l"></span>
      </div>
    </li>
    <li><img src="<%=imagessrc2%>common/xx.png" alt=""></li>
    <li><img src="<%=imagessrc2%>common/nav_btn.png" alt=""></li>
  </ul>
  <ul class="p-switch">
    <li class="crt"></li>
    <li></li>
    <li></li>
  </ul>
</div>