<div class="g-ft">
    <div class="g-in f-tac">
        <div class="links">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="http://www.51talk.com/page/about/" target="_blank" title="关于我们">关于我们</a><i>|</i>
            <a href="//Zhaopin.51talk.com" target="_blank" title="加入我们">加入我们</a><i>|</i>
            <a href="http://www.51talk.com/page/cet/" target="_blank" title="企业培训">企业培训</a><i>|</i>
            <a href="http://www.51talk.com/page/o2o/" target="_blank" title="O2O代理招募">O2O代理招募</a><i>|</i>
            <a href="http://www.51talk.com/ac/51TalkAC.php" target="_blank" title="AC客户端">AC客户端</a><i>|</i>
            <a href="//www.51kt.com/" title="无忧课堂" target="_blank">无忧课堂</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="trust">
            <a href="http://www.51honest.org/wscredit/detail.credit?action=preLevel&amp;credcode=NO.20000038643" target="_blank" title="信星认证" class="t1"></a>
            <a href="http://www.itrust.org.cn/home/index/itrust_certifi/wm/1579059481.html" target="_blank" title="企业信用认证" class="t2"></a>
            <a href="http://www.315online.com.cn/member/315120032.html" target="_blank" title="网上交易保障" class="t3"></a>
            <a href="#" title="支付宝特约商户" class="t4"></a>
        </div>
        <p class="piped">Copyrigh©北京大生知行科技有限公司<i>|</i>
            <a href="http://www.51talk.com/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><i>|</i>
            <a href="http://www.51talk.com/page/terms/" target="_blank" title="用户协议">用户协议</a><i>|</i>
            <a href="http://www.51talk.com/page/icp/" target="_blank" title="京ICP证110696号">京ICP证110696号</a><em></em>
            <a href="http://www.miibeian.gov.cn" target="_blank" title="京ICP备11031999号">京ICP备11031999号</a><em></em>
            <a href="javascript:;" target="_blank" title="京公网安备11010802018414号" style="cursor:text;">京公网安备11010802018414号</a><em></em>
        </p>
    </div>
</div>