<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>左边栏</title>
  <link rel="stylesheet" type="text/css" href="<%= cssPath2 %>exReceive/index_method.css">
  <script type="text/javascript">
    window.static_url="../../";
  </script>
</head>
<body data-init="common/sidebar" id="container">
  <div id="sidebar">
    loading....
  </div>
</body>
<script src="<%= jsSource2%>" id="seajsnode"></script>
</html>