<div class="sideRt">
  <ul class="mdT">
    <li><img src="<%=imagessrc2%>common/ex_cls.jpg" alt=""></li>
    <li>您的专属课程顾问</li>
    <li>扫描微信二维码</li>
    <li>添加您的专属课程顾</li>
  </ul>
  <ul class="mdC">
    <li><img src="<%=imagessrc2%>common/ex_weixin.jpg" alt=""></li>
    <li>51Talk 微信服务号</li>
    <li>提供上课提醒</li>
    <li>咨询客服等服务</li>
  </ul>
  <ul class="mdB">
    <li>服务中心</li>
    <li><a href="javascript:;">点击进入></a></li>
    <li><img src="<%=imagessrc2%>common/ex_service.png" alt=""></li>
  </ul>
</div>