
    <div id="priceInfo"></div> 
    <div class="course-box">
        <ul class="course-list f-cb" id="courseInfo">
            <% for (var i = 0; i < data.length; i++) { %>
                    <% if(data[i].is_recommend == 1) {%>
                        <li data-desc="<%= data[i].conf_package_desc %>" onclick = "__sdonclick('goods-<%= data[i].point_value %>-<%= data[i].point_type %>');" data-id="<%= data[i].id %>" price="<%= data[i].price %>" title="<%= data[i].name %>" point-type="<%= data[i].point_type %>" expire-days="<%= data[i].show_expire_days %>" class="j-icon z-li">
                    <% }else{ %>
                        <li data-desc="<%= data[i].conf_package_desc %>" onclick = "__sdonclick('goods-<%= data[i].point_value %>-<%= data[i].point_type %>');" data-id="<%= data[i].id %>" price="<%= data[i].price %>" title="<%= data[i].name %>" point-type="<%= data[i].point_type %>" expire-days="<%= data[i].show_expire_days %>" class="z-li">
                    <% } %>
                    <span></span>
                    <div class="li-info z-info">
                        <div class="child_1">
                            <% if(data[i].class_time_num > 0) { %>
                                <% if(data[0].point_type == 'point_unit') { %>
                                    <p><%= data[i].unit_num %>单元</p>
                                <% } else { %>
                                    <p><%= data[i].point_value %>节</p>
                                <% } %>
                                <p class="li-des">（赠<%= data[i].class_time_num %>节）</p>
                                <!-- <p class="li-des">（有效期 480天）0000</p> -->

                            <% } else { %>
                                <% if(data[0].point_type == 'point_unit') { %>
                                    <p class="li-p"><%= data[i].unit_num %>单元</p>
                                <% } else { %>
                                    <p class="li-p"><%= data[i].point_value %>节</p>
                                <% } %>  
                                <!-- <p class="li-des">（有效期 480天）1111</p> -->
                            <% } %>
                            
                        </div>
                        <div class="child_2 hide">
                            <% if(data[i].class_time_num > 0) { %>
                                <% if(data[0].point_type == 'point_unit') { %>
                                    <p>青少<%= data[i].unit_num %>单元外教一对一课程</p>
                                <% } else { %>
                                    <p><%= data[i].point_value %>节外教一对一课程</p>
                                <% } %>
                                <p class="li-des">（赠送<%= data[i].class_time_num %>节优选公开课）</p>
                                <% if(!(data[i].conf_expire_status === 0)) { %>
                                    <p class="li-des">（有效期 <%= data[i].show_expire_days %>天）</p>
                                <% } %>
                            <% } else { %>
                                <% if(data[0].point_type == 'point_unit') { %>
                                    <p class="li-p">青少<%= data[i].unit_num %>单元外教一对一课程</p>
                                <% } else { %>
                                    <p class="li-p"><%= data[i].point_value %>节外教一对一课程</p>
                                <% } %>
                                <% if(!(data[i].conf_expire_status === 0)) { %>
                                    <p class="li-des li-time">（有效期 <%= data[i].show_expire_days %>天)</p>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                    <div class="suspension-info c-icon">
                        <span></span> 
                        <% if(data[0].point_type == 'point_unit') { %>
                            <p>青少<%= data[i].unit_num %>单元（<%= data[i].point_value %>节）外教一对一课程</p>
                            <% if(data[i].class_time_num > 0) { %>
                                <p>赠送<%= data[i].class_time_num %>节优选公开课</p>
                            <% } %>
                        <% } else { %>
                            <p><%= data[i].point_value %>节外教一对一课程，<% if(data[i].class_time_num > 0) { %>赠送<%= data[i].class_time_num %>节优选公开课<% } %></p>     
                        <% } %>
                        <!-- <p>有效期<%= data[i].show_expire_days %>天</p> -->
                    </div>
                </li>
            <% } %>        
        </ul>
    </div>
    <div id="installment"></div>
    <div class="buy-btn f-cb">
        <a onclick="__sdonclick('buynow');" id="buyBtn" class="buy-b" href="javascript:;">立即购买</a>
        <a onclick="__sdonclick('cartadd');" class="shop-b jsCart" href="javascript:;">加入购物车</a>
        <form id="buyBtnFrom" method = 'post' action="//sale.51talk.com/orderInfo">
            <input id="formCard" type="hidden" name="cart" value=""/>
        </form>
    </div>