    <%if(is_show_installment){%>
        <dl class="product">
                <dt class="name"><a class="jsDelete" href="javascript:;" data-id="<%=id%>">删除</a><%= title%></dt>
                <dd class="valid"><%=(installment_price).toFixed(2)%> × <%=installment_num%>期</dd>
                <dd class="total"><em class="jsPrice"><%= price%></em><i></i></dd>
        </dl>
    <%}else if(point_type=='book'){%>
        <dl class="product">
                <dt class="name"><a class="jsDelete" href="javascript:;"'+' data-id="<%=id%>">删除</a><%= title%></dt>
                <dd class="valid">&nbsp;</dd>
                <dd class="total"><em class="jsPrice"><%= price%></em><i></i></dd>
        </dl>
    <%}else{%>
        <dl class="product">
                <dt class="name"><a class="jsDelete" href="javascript:;" data-id="<%=id%>">删除</a><%= title%></dt>
                <dd class="valid">有效期：<%=expire_days%>天</dd>
                <dd class="total"><em class="jsPrice"><%=price%></em><i></i></dd>
        </dl>
    <%}%>