
<div class="info-text">
    <% if(data.pay.is_show_installment == 1){ %>
        <div class="text-box f-cb">
            <div class="tit">分期支付金额</div>
            <div class="value"><%= data.pay.installment_price %>元/月<span>（按<%= data.pay.installment_num %>个月分期，每月需还款）</span></div>
        </div>
    <% } %>
    <div class="text-box f-cb">
        <div class="tit">服务协议</div>
         <div class="value"><a onclick="__sdonclick('agree0');" href="<%= data.info.agree_url %>" target="_blank">《<%= data.info.agree_name %>》</a></div> 
    </div>
</div> 