<div class="sidebar">
  <ul class="menu">
    <li class="difList learn">学习</li>
    <% for(var i = 0; i < data.learning.length; i++) { %>
      <li><a href="<%= data.learning[i].link %>" class="dirm"><%= data.learning[i].name %></a></li>
    <% } %>
    <li class="difList exercise">练习</li>
    <% for(var i = 0; i < data.practise.length; i++) { %>
      <li><a href="<%= data.practise[i].link %>" class="dirm" target="_blank"><%= data.practise[i].name %></a></li>
    <% } %>
    <li class="difList test">测试</li>
    <% for(var i = 0; i < data.test.length; i++) { %>
      <li><a href="<%= data.test[i].link %>" class="dirm"><%= data.test[i].name %></a></li>
    <% } %>
    <li class="difList coach">辅导</li>
    <% for(var i = 0; i < data.tutorial.length; i++) { %>
      <li><a href="<%= data.tutorial[i].link %>" class="dirm" target="_blank"><%= data.tutorial[i].name %></a></li>
    <% } %>
  </ul>
  <ul class="menu service">
    <li class="difList study">服务中心</li>
    <% for(var i = 0; i < data.service_center.length; i++) { %>
      <li><a href="<%= data.service_center[i].link %>" class="dirm"><%= data.service_center[i].name %></a></li>
    <% } %>
    <li>
      <div class="download">
        软件下载<i>></i>
        <div class="loadLayer">
          <div>
            <% for(var i = 0; i < data.downloads.length; i++) { %>
              <a href="<%= data.downloads[i].link %>" target="_blank"><%= data.downloads[i].name %></a>
            <% } %>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <!-- 弹出层 -->
  <div class="alertSys">
    <div class="hd">
      <a class="close" href="javascript:;" title="关闭"><img src="../../images/common/alert-close.png"></a>
      <h3>温馨提示</h3>
    </div>
    <div class="conText">
      <p>您的外教1对1体验课机会已经消耗完，请联系课程顾问解决！</p>
      <a href="javascript:;" class="knowBtn">知道了</a>
      <a href="javascript:;" class="apply-lesson">重新申请体验课</a>
    </div>
  </div>
</div>