<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>体验课预约成功！</title>
  <link rel="stylesheet" type="text/css" href="<%= cssPath %>successful.css">
</head>
<body>
  <div class="successful">
    <dl class="textbook">
      <dt><img src="<%=imagessrc%>sucess_btn.png" alt=""></dt>
      <dd class="title">预约成功！</dd>
      <dd class="book">单元复习课教材只能在最新版本的上课软件中显示，请你提前将上课软件升级到最高版本！</dd>
      <dd>课程：Level 0 第一单元复习课 Level 0 Unit 1 Review</dd>
      <dd>时间：2018-11-26 09:00-09:45</dd>
    </dl>
    <ul>
      <li>
        <a href="http://www.51talk.com/ac/51TalkAC.php">
          <img src="<%=imagessrc%>succee01.png" alt="">
          <span>AC在线教室 电脑版下载</span>
        </a>
      </li>
      <li>
        <a href="http://www.51talk.com/h/download.html">
          <img src="<%=imagessrc%>succee02.png" alt="">
          <span>51Talk青少儿英语 ipad版下载</span>
        </a>
      </li>
    </ul>
    <p>小提示：您可以在“个人中心-已约课程”中选择取消课程，开课前1小时不能取消课程。</p>
  </div>
</body>
</html>
