<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>选择课程时间</title>
  <link rel="stylesheet" type="text/css" href="../../../css/html/userCenter_20181123/chooseTime.css">
</head>
<body>
  <div class="chooseTime" id="container" data-init="chooseTime">
    <ul class="title-list" id="basicDate"></ul>
    <div class="time-list">
      <ul class="tab" id="tabDate"></ul>
      <ul class="time" id="freeTime"></ul>
      <!-- 加载中 -->
      <div class="load">正在加载中...</div>
    </div>
    <div class="btn">
      <a href="javascript:;" class="sure gray">确定</a>
    </div>
  </div>
  <!-- 弹出层 -->
  <div class="layer hide">
    <div class="content">
      <h3>预约失败</h3>
      <div class="word">
        <p>次卡不足，请购买后再次预约！</p>
        <span id="cancel">确定</span>
      </div>
    </div>
  </div>
  <!-- 返回用户id -->
  <input type="hidden" name="textbook_id" value="112" id="textbook_id">
  <script id="basic" type="text/html">
    <li>课程：[[title]]</li>
    <li>次卡：2次次卡预约</li>
    <li>选择上课时间：<span class="seleTime">请选择上课时间</span></li>
  </script>
  <script id="chooseTab" type="text/html">
    [[each calendar_list]]
      [[if $value.is_today == 1]]
        <li class="check" data-date="[[$value.date]]">
      [[else]]
        <li data-date="[[$value.date]]">
      [[/if]]
        <span>[[$value.week]]</span>
        <span>[[$value.date]]</span>
      </li>
    [[/each]]
  </script>
  <script id="chooseTime" type="text/html">
    [[each data]]
      [[if $value.status == 'off']]
        <li class="gray">
      [[else]]
        <li data-start-time="[[$value.start]]" data-end-time="[[$value.end]]"  data-time-id="[[$value.time_id]]">
      [[/if]]
      [[$value.start]]</li>
    [[/each]]
  </script>
  <script src="../../../js/html/project/userCenter_20181123/vendor.js" id="j_review_seajsnode"></script>
</body>
</html>
