<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../../css/common/index_commons.css">
    <link rel="stylesheet" type="text/css" href="../../css/adultPackage/index_monthly_learning_effect.css">
    <script type="text/javascript">
      window.static_url = "../../";
    </script>
</head>
<body data-init="adultPackage/indexMonthlyLearningEffect" id="container">
    <div id="indexMonthlyLearningEffect">
        loading...
    </div>
    <input type="hidden" value="point_package_10" id="point_type">



</body>
<script src="../../source/js/vendor.js" id="seajsnode"></script>

</html>


