<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../../css/common/index_commons.css">
    <link rel="stylesheet" type="text/css" href="../../css/adultPackage/index_strengthen.css">
    <script type="text/javascript">
        window.static_url="../../";
    </script>
</head>
<body data-init="adultPackage/indexStrengthen" id="container">
    <div class="g-hd">
    <div class="m-top" id="jsHead">
        <div class="g-in f-cb">
            <div class="m-menu f-fl">
                <a class="user __dim__o" setdata="UserMenu_username" href="http://www.51talk.com/user/index">hi,<em class="nick">Bonnie</em>！</a><i>|</i><a class="msg __dim__o" setdata="UserMenu_msg" href="http://www.51talk.com/user/wll">消息<span class="num">37</span></a>
                <span
                    class="tips"><a class="txt" href="http://www.51talk.com/user/review?opinion=no">您有2节课程需要评价</a><span class="close">关闭</span></span><i>|</i><a class="__dim__o" setdata="UserMenu_logout" href="http://www.51talk.com/sso/logout">退出</a>
            </div>
            <ul class="m-link f-ib f-fr">
                <li><a href="http://www.51talk.com/" class="__dim__o" setdata="HeadLink_1">官网首页</a></li>
                <li><a href="https://sale.51talk.com" class="__dim__o" setdata="HeadLink_2">购买课程</a></li>
                <li>
                    <a href="http://www.51talk.com/index/system" class="__dim__o" setdata="HeadLink_3">课程介绍</a></li>
                <li>
                    <a href="http://www.51talk.com/testing/index/?type=login" class="__dim__o" setdata="HeadLink_4">英语水平</a>
                </li>
                <li><a target="_blank" href="http://www.51talk.com/page/faq" class="__dim__o" setdata="HeadLink_5">常见问题</a></li>
                <li><a target="_blank" href="http://www.51talk.com/page/cet" class="__dim__o" setdata="HeadLink_6">企业培训</a></li>
                <li class="jsMore follow"><a href="http://www.51talk.com/page/about/" class="__dim__o" setdata="HeadLink_7">关注我们</a>
                    <ul class="jsUl">
                        <li class="tsina"><a href="http://weibo.com/51talk" rel="nofollow" target="_blank">新浪微博</a></li>
                        <li class="tqq"><a href="http://e.t.qq.com/t51talk" rel="nofollow" target="_blank">腾讯微博</a></li>
                    </ul>
                </li>
                <li><a href="http://www.51talk.com/user/invitefriend" target="_blank" class="__dim__o" setdata="HeadLink_8">邀请有礼</a></li>
                <li><a href="http://www.51talk.com/activity/ipadClient" target="_blank" onclick="__sdonclick('ipadclient');" title="iPad客户端">iPad客户端</a></li>
            </ul>
        </div>
        <div class="down_ac" style="width:105px;height:78px;position:absolute;top:0;right:0;">
            <a href="http://www.51talk.com/ac/51TalkAC.php" target="_blank"><img src="http://static.51talk.com/static/image/menber/un/down_AC.png?v=1511417080594" alt=""></a>
        </div>
    </div>
    <!-- /m-top -->
    <div class="m-head">
        <div class="g-in">
            <h1 class="logo"><a href="http://www.51talk.com/" class="__dim__o" setdata="nav_51talk_logo">51talk 无忧英语</a></h1>
            <ul class="nav">
                <li class="crt"><a href="http://www.51talk.com/user/index" class="__dim__o" setdata="nav_1">首页</a></li>
                <li><a href="http://www.51talk.com/user/remind" class="__dim__o" setdata="nav_2">账户设置</a></li>
                <li><a href="https://sale.51talk.com" class="__dim__o" setdata="nav_3">购买课程</a></li>
                <li><a href="//bbs.51talk.com" target="_blank" hidefocus="true" style="outline:none;" class="__dim__o" setdata="nav_4">学习社区</a></li>
            </ul>
            <div class="contact">
                <p><a href="javascript:void(0)" onclick="easemobIM()" data-type="261110" rel="nofollow" class="hiring u-b-ntkf" title="在线客服" data-url="/Ajax/countQqZiXun">客服在线咨询 (09:00-22:30)</a></p>
                <p class="phone">4000-51-51-51</p>
            </div>
            <a class="file_style f-fr addFile addStyle04 __dim__o" href="http://www.51talk.com/user/invitefriend?style=4" setdata="nav_ad_logo" title="邀请好友送次卡 " target="_blank"></a>
        </div>
    </div>
    <!-- /m-head -->
</div>
    <div class="banner-box">
        <div class="banner">
            <img src="http://www.51talk.com/upload/ad/2017121916314242506.jpg?v=1514191467288"/>
        </div>
    </div>
    <div class="content">
        <ul class="tab f-cb" id="tabId">
            <li class="current"><a href="javascript:;">强化学习效果套餐</a></li>
            <li><a href="javascript:;">单元学习套餐</a></li>
            <li><a href="javascript:;">次卡学习套餐</a></li>
        </ul>
        <!--套餐start-->
        <div class="package-info f-cb">
            <div class="img-box"><img src="../../images/adultPackage/img01.jpg"/></div>
             <!--选择套餐模块start 公共-->
             <div id="infoBox" class="info-box">
                <h2>强化学习效果套餐</h2>
                <p class="des">【套餐优势】利用“短时高频”的学习方法，每月固定15节课，帮助您将自觉学习变为习惯。</p>



                <div class="price-box">
                    <div class="p-text f-cb">
                        <span class="text text-price oldPriceTitle">原价：</span>
                        <!-- <div class="text-v p-value"><span>¥ </span>8999<span> /节</span><span class="cost-price">(原价：<i>￥60节</i>)</span></div> -->
                        <div class="text-v p-value oldPrice">¥10899</div>
                    </div>
                    <div class="p-text f-cb">
                        <span class="text v-title">优惠：</span>
                        <div class="text-v total-price cutPrice">
                            <div><span class="z-icon"> </span> 直降2000元</div>
                            <div><span class="z-icon reduce"> </span> 直降2000元</div>
                            <div><span class="z-icon freeGive"> </span> 5节课程（次卡）</div>
                        </div>
                    </div>
                    <div class="p-text f-cb">
                        <span class="text v-title z-real"> 实付：</span>
                        <!-- <div class="text-v">1. 满8000-500元；2. 赠送10节外教一对一课程</div> -->
                        <div class="realPay">¥8899 <span class="z-per">（￥49/节）</span></div>
                    </div>
                </div>



                <div class="course-box">
                    <ul class="course-list f-cb" id="courseInfo">
                        <li class="course-li f-icon j-icon current z-li">
                            <span></span>
                            <div class="li-info z-info">
                                <p>90节外教一对一课程</p>
                                <p class="li-des">（赠送30节绘本公开课）</p>
                                <p class="li-des">（有效期 480天）</p>
                            </div>
                            <div class="suspension-info f-icon">
                                <span></span> 
                                <p>90节外教一对一课程，赠送30节绘本公开课</p>
                                <p>套餐有效期360天（自购买之日起）</p>
                            </div>
                        </li> 
                        <li class="j-icon z-li">
                            <span></span>
                            <div class="li-info">
                                <p>360节</p>
                                <p class="li-des">（赠30节）</p>
                            </div>
                            <div class="suspension-info c-icon">
                                <span></span> 
                                <p>90节外教一对一课程，赠送30节绘本公开课</p>
                                <p>套餐有效期360天（自购买之日起）</p>
                            </div>
                        </li>
                        <li class="z-li">
                            <div class="li-info ">
                                <p>360节</p>
                                <p class="li-des">（赠30节）</p>
                            </div>
                            <div class="suspension-info c-icon">
                                <span></span> 
                                <p>90节外教一对一课程，赠送30节绘本公开课</p>
                                <p>套餐有效期360天（自购买之日起）</p>
                            </div>
                        </li>
                        <li class="z-li">
                            <div class="li-info">
                                <p>360节</p>
                                <p class="li-des">（赠30节）</p>
                            </div>
                            <div class="suspension-info c-icon">
                                <span></span> 
                                <p>90节外教一对一课程，赠送30节绘本公开课</p>
                                <p>套餐有效期360天（自购买之日起）</p>
                            </div>
                        </li>
                        <li class="z-li">
                            <div class="li-info">
                                <p>360节</p>
                                <p class="li-des">（赠30节）</p>
                            </div>
                            <div class="suspension-info l-icon">
                                <span></span> 
                                <p>90节外教一对一课程，赠送30节绘本公开课</p>
                                <p>套餐有效期360天（自购买之日起）</p>
                            </div>
                        </li> 
                        <li class="z-li">
                            <span></span>
                            <div class="li-info">
                                <p>360节</p>
                                <p class="li-des">（赠30节）</p>
                            </div>
                            <div class="suspension-info c-icon">
                                <span></span> 
                                <p>90节外教一对一课程，赠送30节绘本公开课</p>
                                <p>套餐有效期360天（自购买之日起）</p>
                            </div>
                        </li> 
                        <li class="z-li">
                            <span></span>
                            <div class="li-info">
                                <p>360节</p>
                                <p class="li-des">（赠30节）</p>
                            </div>
                            <div class="suspension-info c-icon">
                                <span></span> 
                                <p>90节外教一对一课程，赠送30节绘本公开课</p>
                                <p>套餐有效期360天（自购买之日起）</p>
                            </div>
                        </li> 
                        <li class="z-li">
                            <span></span>
                            <div class="li-info">
                                <p>360节</p>
                                <p class="li-des">（赠30节）</p>
                            </div>
                            <div class="suspension-info c-icon">
                                <span></span> 
                                <p>90节外教一对一课程，赠送30节绘本公开课</p>
                                <p>套餐有效期360天（自购买之日起）</p>
                            </div>
                        </li> 
                    </ul>
                </div>  
                <div class="info-text">
                    <div class="text-box f-cb">
                        <div class="tit">分期支付金额</div>
                        <div class="value">1000元/月<span>（按12个月分期，每月需还款）</span></div>
                    </div>
                    <div class="text-box f-cb">
                        <div class="tit">服务协议</div>
                        <div class="value"><a href="javascript:;">《强化学习效果套餐课程服务协议》</a></div>
                    </div>
                </div>
                <div class="buy-btn f-cb">
                    <a id="buyBtn" class="buy-b" href="javascript:;">立即购买</a>
                    <a class="shop-b" href="javascript:;">加入购物车</a>
                </div>
            </div> 
            <!--选择套餐模块end-->
        </div>
         <!--套餐end-->
         <!--课程详情start-->
         <div class="info-main f-cb">
            <ul class="info-tab" id="infoTab">
                <li class="current"><a href="#info-tab1">课程详情</a></li>
                <li><a href="#info-tab2">师资教学</a></li>
                <li><a href="#info-tab3">上课平台</a></li>
                <li><a href="#info-tab4">选购须知</a></li>
                <li><a href="#info-tab5">常见问题</a></li>
            </ul>
            <div class="list-box">
                <div id="info-tab1" class="list-info">
                    <div class="courseinfo-img">
                        <img src="../../images/adultPackage/audlt_03.jpg"/>
                        <div class="package-img f-cb">
                            <div class="des-box">
                                <div>套餐特点</div>
                                <ul>
                                    <li>• 每月至少完成15节一对一外教课程</li>
                                    <li>• 套餐价格相对优惠</li>
                                </ul>
                            </div>
                            <div class="des-box">
                                <div>学习建议</div>
                                <ul>
                                    <li>• 希望养成固定学习习惯的学员</li>
                                    <li>• 每周至少可安排3-4节外教一对一课程</li>
                                </ul>
                            </div>
                        </div>
                        <img src="../../images/youngPackage/young_17_01.jpg"/>
                        <img src="../../images/adultPackage/audlt_06.jpg"/>
                        <img src="../../images/adultPackage/audlt_07.jpg"/>
                        <img src="../../images/adultPackage/audlt_08.jpg"/>
                        <img src="../../images/adultPackage/audlt_09.jpg"/>
                        <img src="../../images/adultPackage/audlt_10.jpg"/>
                        <img src="../../images/adultPackage/audlt_11.jpg"/>
                        <img src="../../images/adultPackage/audlt_12.jpg"/>
                    </div>
                </div>
                <div id="info-tab2" class="list-info">
                    <div class="a-teacher-img">
                        <img src="../../images/adultPackage/a_01.jpg"/>
                        <img src="../../images/adultPackage/a_02.jpg"/>
                        <img src="../../images/adultPackage/a_03.jpg"/>
                        <img src="../../images/adultPackage/a_04.jpg"/>
                        <img src="../../images/adultPackage/a_05.jpg"/>
                        <img src="../../images/adultPackage/a_06.jpg"/>
                        <img src="../../images/adultPackage/a_07.jpg"/>
                    </div>
                </div>
                <div id="info-tab3" class="list-info">
                    <div class="class-platform">
                        <img src="../../images/adultPackage/audlt_13.jpg"/>
                        <img src="../../images/adultPackage/audlt_14.jpg"/>
                        <img src="../../images/adultPackage/audlt_15.jpg"/>
                        <img src="../../images/adultPackage/audlt_16.jpg"/>
                        <div class="code-img">
                            <a href="//www.51talk.com/ac/51TalkAC.php" target="_blank"></a>
                        </div>
                    </div>
                </div>
                <div id="info-tab4" class="list-info">
                    <div class="buy-info">
                        <div class="buyinfo-title">套餐要求</div>
                        <div class="buyinfo-des">购买【强化学习效果套餐】的学员，请认真阅读以下内容：</div>
                        <ul class="buyinfo-li">
                            <li>学员购买套餐当月，按照实际上课数消耗的次卡进行扣除；</li>
                            <li>自学员购买套餐次月（自然月）开始，每月最少需完成15节（含）以上的外教一对一课程，如未达到要求，系统将自动扣除未完成的课程；
                            <br/>例：当月学员仅完成12节外教一对一课程，未达到15节外教一对一课程，系统将在次月2日自动扣除未上的3节一对一课程；</li>
                            <li>如学员当月上课数超过15节外教一对一课程，系统将按照实际消耗课程扣除；
                            <br/>例：当月学员完成20节外教一对一课程，已超过15节外教一对一课程，系统会自动扣除20节外教一对一课程；</li>
                            <li>学员在一天内可预约多节外教一对一课程，也可一次性预约之后14天内的多节外教一对一课程；
                            <br/>例：学员在11月1日，可以预约11月1日—15日之间任何一个时间的课程；</li>
                            <li>距课程开始60分钟前可取消约课，60分钟（含）以内不可取消约课；</li>
                        </ul>
                    </div>
                    <div class="buy-info">
                        <div class="buyinfo-title">课程次卡、课时的使用说明</div>
                        <div class="buyinfo-des">购买本套餐的用户，可以凭借套餐内的课程次卡、课时等学习凭证，按照以下兑付要求约取不同的授课类型：</div>
                        <ul class="buyinfo-li">
                            <li>菲律宾外教一对一课程，每节课程25分钟，1节次卡/课；</li>
                            <li>欧美外教一对一课程，每节课程25分钟，4节次卡/课；</li>
                            <li>精品小班课，每课程50分钟，1节次卡/课；</li>
                            <li>绘本课/公开课，每课程25分钟或50分钟，1课时/课；</li>
                        </ul>
                    </div>
                    <div class="buy-info">
                        <div class="buyinfo-title">退费服务说明</div>
                        <ul class="buyinfo-li">
                            <li> 如您购买本套餐后，自购买日起7天内，可为您办理无条件退费：</li>
                            <li>自购买日起7天后，至30天内的退费要求，请查看<a href="javascript:;">《课程服务协议》</a>中的详细说明，或请来电垂询您的课程服务顾问；</li>
                            <li>在<a href="javascript:;">《课程服务协议》</a>中，将与您约定，我司将不受理30天以后的退费申请；</li>
                        </ul>
                    </div>
                </div>
                <div id="info-tab5" class="list-info">
                    <ul class="question-list">
                        <li>
                            <div class="question">
                                <span class="question-i">Q:</span>
                                <p>【强化学习效果套餐】每月必须上满15节课吗</p>
                            </div>
                            <div class="answer">
                                <span class="question-i">A:</span>
                                <p>此套餐旨在督促学员能够有计划、有节奏地学习英语，“短时高频”提升学习效率，所以每月必须上满15节课程；<br/>
                                例如：学员本月仅完成12节课程，在次月2日系统将会扣除您未完成的余下3节课。</p>
                            </div>
                        </li>
                        <li>
                            <div class="question">
                                <span class="question-i">Q:</span>
                                <p>【强化学习效果套餐】可以请假吗？</p>
                            </div>
                            <div class="answer">
                                <span class="question-i">A:</span>
                                <p>【强化学习效果套餐】请假规则：<br/>
                                （1）此套餐购买当月不可请假，可从次月开始，请任意一个月份的假；<br/>
                                （2）此套餐每年有一次请假机会，请假时间需按照自然月请假（每月第一天至最后一天）；<br/>
                                （3）请假月份如果有预约课程不可请假，请学员将预约课程全部取消后请假；<br/>
                                （4）学员请假后，系统不会扣除当月固定要上的15节课程，并且有效期自动延长30天；<br/>
                                （5）如需请假，请联系学习顾问。</p>
                            </div>
                        </li>
                        <li>
                            <div class="question">
                                <span class="question-i">Q:</span>
                                <p>【强化学习效果套餐】的课程，都是一对一课程吗？</p>
                            </div>
                            <div class="answer">
                                <span class="question-i">A:</span>
                                <p>51Talk外教是以一对一课程为主，公开课、绘本课为多人大课形式，所有课程均为真人在线教学；</p>
                            </div>
                        </li>
                        <li>
                            <div class="question">
                                <span class="question-i">Q:</span>
                                <p>【强化学习效果套餐】的课程，学员可以自由选择外教老师吗？</p>
                            </div>
                            <div class="answer">
                                <span class="question-i">A:</span>
                                <p>您可以根据自己的情况选择合适的上课时间、外教老师、课程以及教材，登录会员中心选择”预约课程“即可；您在51Talk可以体验全程自助式预约课程的服务。老师的上课时间状态只要是开放的，您就可以随时预约。</p>
                            </div>
                        </li>
                        <li>
                            <div class="question">
                                <span class="question-i">Q:</span>
                                <p>【强化学习效果套餐】的课程，预约课程是否有限制？</p>
                            </div>
                            <div class="answer">
                                <span class="question-i">A:</span>
                                <p>学员需要至少提前30分钟预约课程，例如15点的课程，需要在14:30之前完成预约操作。如果您使用的是次卡，可以一次性预约同一天的多节课程，并且可以提前预约未来两周的课程。</p>
                            </div>
                        </li>
                        <li>
                            <div class="question">
                                <span class="question-i">Q:</span>
                                <p>【强化学习效果套餐】的课程，预约了可以取消吗？</p>
                            </div>
                            <div class="answer">
                                <span class="question-i">A:</span>
                                <p>可以取消。学员需要在课程开始前一个小时以上取消课程，否则会扣除您一节次卡。课程开始前一个小时以内无法取消课程，即使没有出席课程，系统也会扣除该节课。</p>
                            </div>
                        </li>
                        <li>
                            <div class="question">
                                <span class="question-i">Q:</span>
                                <p>【强化学习效果套餐】的课程，上课迟到是否可以继续上课？</p>
                            </div>
                            <div class="answer">
                                <span class="question-i">A:</span>
                                <p>迟到5分钟以内可以继续上课，外教老师仅能与学员上该节课余下的时间。晚到10分钟以上的，则视为学生缺席，该课程取消并扣除此节课。</p>
                            </div>
                        </li>
                    <ul>
                </div>
            </div>
         </div>
        <!--课程详情end-->
    </div>
    <!--购物车-->
    <!-- <div class="s-cart-box">
        <div class="slider-box">
            <span class="s-cart-icon"></span>
            <p>我的购物车</p>
            <span class="num-icon">3</span>
        </div>
        <div class="main">
            <div class="tit">我的购物车<span>(0)</span></div>
            <div class="s-cart-info">
                <ul>
                    <li>
                        <a href="javascript:;">删除</a>
                        <p class="p-class">360次次卡 次卡学习套餐</p>
                        <p class="p-time">有效期：360天</p>
                        <div class="price"><span>￥</span><span>8488</span></div>
                    </li>
                    <li>
                        <a href="javascript:;">删除</a>
                        <p class="p-class">360次次卡 次卡学习套餐</p>
                        <p class="p-time">有效期：360天</p>
                        <div class="price"><span>￥</span><span>8488</span></div>
                    </li>
                    <li>
                        <a href="javascript:;">删除</a>
                        <p class="p-class">360次次卡 次卡学习套餐</p>
                        <p class="p-time">有效期：360天</p>
                        <div class="price"><span>￥</span><span>8488</span></div>
                    </li>
                </ul>
                <div class="text">立即购买配套教材，学习效果更佳！</div>
                <div class="select-box">
                    <span></span><span>+50元，选购高保真耳麦</span>
                </div>
            </div>
            <div class="submin-box">
                <div class="s-price-box"><span class="price-text">订单总金额：</span><i>￥</i><span>8488</span></div>
                <a class="sbuy-btn" href="javascript:;">立即购买</a>
            </div>
        </div>
    </div> -->
    <!---->
    <input type="text" value="point_package" id="point_type">
    <div class="g-ft">
    <div class="g-in f-tac">
        <div class="links">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="http://www.51talk.com/page/about/" target="_blank" title="关于我们">关于我们</a><i>|</i>
            <a href="//Zhaopin.51talk.com" target="_blank" title="加入我们">加入我们</a><i>|</i>
            <a href="http://www.51talk.com/page/cet/" target="_blank" title="企业培训">企业培训</a><i>|</i>
            <a href="http://www.51talk.com/page/o2o/" target="_blank" title="O2O代理招募">O2O代理招募</a><i>|</i>
            <a href="http://www.51talk.com/ac/51TalkAC.php" target="_blank" title="AC客户端">AC客户端</a><i>|</i>
            <a href="//www.51kt.com/" title="无忧课堂" target="_blank">无忧课堂</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="trust">
            <a href="http://www.51honest.org/wscredit/detail.credit?action=preLevel&amp;credcode=NO.20000038643" target="_blank" title="信星认证" class="t1"></a>
            <a href="http://www.itrust.org.cn/home/index/itrust_certifi/wm/1579059481.html" target="_blank" title="企业信用认证" class="t2"></a>
            <a href="http://www.315online.com.cn/member/315120032.html" target="_blank" title="网上交易保障" class="t3"></a>
            <a href="#" title="支付宝特约商户" class="t4"></a>
        </div>
        <p class="piped">Copyrigh©北京大生知行科技有限公司<i>|</i>
            <a href="http://www.51talk.com/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><i>|</i>
            <a href="http://www.51talk.com/page/terms/" target="_blank" title="用户协议">用户协议</a><i>|</i>
            <a href="http://www.51talk.com/page/icp/" target="_blank" title="京ICP证110696号">京ICP证110696号</a><em></em>
            <a href="http://www.miibeian.gov.cn" target="_blank" title="京ICP备11031999号">京ICP备11031999号</a><em></em>
            <a href="javascript:;" target="_blank" title="京公网安备11010802018414号" style="cursor:text;">京公网安备11010802018414号</a><em></em>
        </p>
    </div>
</div>
</body>
<script src="../../source/js/vendor.js" id="seajsnode"></script>

</html>