<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../../css/common/index_commons.css">
    <link rel="stylesheet" type="text/css" href="../../css/adultPackage/index_teaching_material.css">
    <script type="text/javascript">
        window.static_url="../../";
    </script>
</head>

<body data-init="adultPackage/teachingMaterial" id="container">
    <div class="g-hd">
    <div class="m-top" id="jsHead">
        <div class="g-in f-cb">
            <div class="m-menu f-fl">
                <a class="user __dim__o" setdata="UserMenu_username" href="http://www.51talk.com/user/index">hi,<em class="nick">Bonnie</em>！</a><i>|</i><a class="msg __dim__o" setdata="UserMenu_msg" href="http://www.51talk.com/user/wll">消息<span class="num">37</span></a>
                <span
                    class="tips"><a class="txt" href="http://www.51talk.com/user/review?opinion=no">您有2节课程需要评价</a><span class="close">关闭</span></span><i>|</i><a class="__dim__o" setdata="UserMenu_logout" href="http://www.51talk.com/sso/logout">退出</a>
            </div>
            <ul class="m-link f-ib f-fr">
                <li><a href="http://www.51talk.com/" class="__dim__o" setdata="HeadLink_1">官网首页</a></li>
                <li><a href="https://sale.51talk.com" class="__dim__o" setdata="HeadLink_2">购买课程</a></li>
                <li>
                    <a href="http://www.51talk.com/index/system" class="__dim__o" setdata="HeadLink_3">课程介绍</a></li>
                <li>
                    <a href="http://www.51talk.com/testing/index/?type=login" class="__dim__o" setdata="HeadLink_4">英语水平</a>
                </li>
                <li><a target="_blank" href="http://www.51talk.com/page/faq" class="__dim__o" setdata="HeadLink_5">常见问题</a></li>
                <li><a target="_blank" href="http://www.51talk.com/page/cet" class="__dim__o" setdata="HeadLink_6">企业培训</a></li>
                <li class="jsMore follow"><a href="http://www.51talk.com/page/about/" class="__dim__o" setdata="HeadLink_7">关注我们</a>
                    <ul class="jsUl">
                        <li class="tsina"><a href="http://weibo.com/51talk" rel="nofollow" target="_blank">新浪微博</a></li>
                        <li class="tqq"><a href="http://e.t.qq.com/t51talk" rel="nofollow" target="_blank">腾讯微博</a></li>
                    </ul>
                </li>
                <li><a href="http://www.51talk.com/user/invitefriend" target="_blank" class="__dim__o" setdata="HeadLink_8">邀请有礼</a></li>
                <li><a href="http://www.51talk.com/activity/ipadClient" target="_blank" onclick="__sdonclick('ipadclient');" title="iPad客户端">iPad客户端</a></li>
            </ul>
        </div>
        <div class="down_ac" style="width:105px;height:78px;position:absolute;top:0;right:0;">
            <a href="http://www.51talk.com/ac/51TalkAC.php" target="_blank"><img src="http://static.51talk.com/static/image/menber/un/down_AC.png?v=1511417080594" alt=""></a>
        </div>
    </div>
    <!-- /m-top -->
    <div class="m-head">
        <div class="g-in">
            <h1 class="logo"><a href="http://www.51talk.com/" class="__dim__o" setdata="nav_51talk_logo">51talk 无忧英语</a></h1>
            <ul class="nav">
                <li class="crt"><a href="http://www.51talk.com/user/index" class="__dim__o" setdata="nav_1">首页</a></li>
                <li><a href="http://www.51talk.com/user/remind" class="__dim__o" setdata="nav_2">账户设置</a></li>
                <li><a href="https://sale.51talk.com" class="__dim__o" setdata="nav_3">购买课程</a></li>
                <li><a href="//bbs.51talk.com" target="_blank" hidefocus="true" style="outline:none;" class="__dim__o" setdata="nav_4">学习社区</a></li>
            </ul>
            <div class="contact">
                <p><a href="javascript:void(0)" onclick="easemobIM()" data-type="261110" rel="nofollow" class="hiring u-b-ntkf" title="在线客服" data-url="/Ajax/countQqZiXun">客服在线咨询 (09:00-22:30)</a></p>
                <p class="phone">4000-51-51-51</p>
            </div>
            <a class="file_style f-fr addFile addStyle04 __dim__o" href="http://www.51talk.com/user/invitefriend?style=4" setdata="nav_ad_logo" title="邀请好友送次卡 " target="_blank"></a>
        </div>
    </div>
    <!-- /m-head -->
</div>
    <div class="banner-box">
        <div class="banner">
            <img src="http://www.51talk.com/upload/ad/2017121916314242506.jpg?v=1514191467288"/>
        </div>
    </div>
    <div class="content">
        <ul class="tab f-cb" id="tabId">
            <li class="current"><a href="javascript:;">强化学习效果套餐</a></li>
            <li><a href="javascript:;">单元学习套餐</a></li>
            <li><a href="javascript:;">配套教材</a></li>
        </ul>
        <div class="package-info f-cb">
            <div class="img-box"><img src="../../images/youngPackage/img01.jpg"/></div>
            <div class="info-box">
                
                <h2>强化学习效果套餐</h2>
                <p class="des">【包邮】51Talk重磅投入，汇聚全球百余位语言教育专家，6年倾力研发与实践，适合国人每阶段的英语学习！</p>
                <div class="price-box">
                    <div class="p-text f-cb">
                        <span class="text text-price">价格</span>
                        <div class="text-v p-value"><span>¥</span>8999</div>
                    </div>
                    <div class="p-text f-cb">
                        <span class="text ">活动</span>
                        <div class="text-v">1. 满8000-500元；2. 赠送10节外教一对一课程</div>
                    </div>
                </div>
                <div class="course-box">
                    <ul class="course-list f-cb" id="courseInfo">
                        <li class="j-icon">
                            <span></span>
                            <div class="li-info">
                                <p>CE Level 1 - 上册</p>
                            </div>
                            <i></i>
                        </li> 
                        <li class="j-icon">
                            <span></span>
                            <div class="li-info">
                                <p>CE Level 1 - 下册</p>
                            </div>
                            <i></i>
                        </li>
                        <li>
                            <div class="li-info">
                                <p>CE Level 2 - 上册</p>
                            </div>
                            <i></i>
                        </li>
                        <li>
                            <div class="li-info">
                                <p>CE Level 2 - 上册</p>
                            </div>
                            <i></i>
                        </li>
                        <li>
                            <div class="li-info">
                                <p>CE Level 2 - 上册</p>
                            </div>
                            <i></i>
                        </li>
                        <li class="n-chose">
                            <div class="li-info">
                                <p>CE Level 2 - 上册</p>
                            </div>
                            <i></i>
                        </li>
                    </ul>
                </div>
                <div class="prompt-text">
                    <span>推荐提示</span>
                    <span class="levle-text">您当前英语等级为 level1，建议选择 CE Level 1 的教材</span>
                </div>
                <div class="buy-btn f-cb">
                    <a id="purchaseImmediately" class="buy-b" href="javascript:;">立即购买</a>
                    <a class="shop-b" id="cartBtn" href="javascript:;">加入购物车</a>
                </div>
            </div>
        </div>
        <!--课程详情start-->
        <div class="info-main f-cb">
            <ul class="info-tab" id="infoTab">
                <li class="current"><a href="#info-tab1">教材预览</a></li>
                <li><a href="#info-tab2">选购须知</a></li>
            </ul>
            <div class="list-box">
                <div id="info-tab1" class="list-info show">
                    <div><img src="../../images/adultPackage/adult_18.jpg"/></div>
                    <div class="material-list">
                        <ul class="material-ul f-cb" id="materialUl">
                            <li>
                                <div class="li-img">
                                    <img src="../../images/adultPackage/adult_20.jpg"/>
                                    <span class="c01 _c-title">Book1</span>
                                    <div class="img-layer _layer">
                                        <a href="javascript:;">教材预览</a>
                                    </div>
                                </div>
                                <p class="li-tit">CE Level1</p>
                                <div class="btn-box">
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_1_Book_1.pdf" class="current" href="javascript:;">上册</a>
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_1_Book_2.pdf" href="javascript:;">下册</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-img">
                                    <img src="../../images/adultPackage/adult_21.jpg"/>
                                    <span class="c01 _c-title">Book1</span>
                                    <div class="img-layer _layer">
                                        <a href="javascript:;">教材预览</a>
                                    </div>
                                </div>
                                <p class="li-tit">CE Level2</p>
                                <div class="btn-box">
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_2_Book_1.pdf" class="current" href="javascript:;">上册</a>
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_2_Book_2.pdf" href="javascript:;">下册</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-img">
                                    <img src="../../images/adultPackage/adult_22.jpg"/>
                                    <span class="c01 _c-title">Book1</span>
                                    <div class="img-layer _layer">
                                        <a href="javascript:;">教材预览</a>
                                    </div>
                                </div>
                                <p class="li-tit">CE Level3</p>
                                <div class="btn-box">
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_3_Book_1.pdf" class="current" href="javascript:;">上册</a>
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_3_Book_2.pdf" href="javascript:;">下册</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-img">
                                    <img src="../../images/adultPackage/adult_23.jpg"/>
                                    <span class="c01 _c-title">Book1</span>
                                    <div class="img-layer _layer">
                                        <a href="javascript:;">教材预览</a>
                                    </div>
                                </div>
                                <p class="li-tit">CE Level4</p>
                                <div class="btn-box">
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_4_Book_1.pdf" class="current" href="javascript:;">上册</a>
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_4_Book_2.pdf" href="javascript:;">下册</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-img">
                                    <img src="../../images/adultPackage/adult_25.jpg"/>
                                    <span class="c01 _c-title">Book1</span>
                                    <div class="img-layer _layer">
                                        <a href="javascript:;">教材预览</a>
                                    </div>
                                </div>
                                <p class="li-tit">CE Level5</p>
                                <div class="btn-box">
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_5_Book_1.pdf" class="current" href="javascript:;">上册</a>
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_5_Book_2.pdf" href="javascript:;">下册</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-img">
                                    <img src="../../images/adultPackage/adult_24.jpg"/>
                                    <span class="c01 _c-title">Book1</span>
                                    <div class="img-layer _layer">
                                        <a href="javascript:;">教材预览</a>
                                    </div>
                                </div>
                                <p class="li-tit">CE Level6</p>
                                <div class="btn-box">
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_6_Book_1.pdf" class="current" href="javascript:;">上册</a>
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_6_Book_2.pdf" href="javascript:;">下册</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-img">
                                    <img src="../../images/adultPackage/adult_27.jpg"/>
                                    <span class="c01 _c-title">Book1</span>
                                    <div class="img-layer _layer">
                                        <a href="javascript:;">教材预览</a>
                                    </div>
                                </div>
                                <p class="li-tit">CE Level7</p>
                                <div class="btn-box">
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_7_Book_1.pdf" class="current" href="javascript:;">上册</a>
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_7_Book_2.pdf" href="javascript:;">下册</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-img">
                                    <img src="../../images/adultPackage/adult_28.jpg"/>
                                    <span class="c01 _c-title">Book1</span>
                                    <div class="img-layer _layer">
                                        <a href="javascript:;">教材预览</a>
                                    </div>
                                </div>
                                <p class="li-tit">CE Level8</p>
                                <div class="btn-box">
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_8_Book_1.pdf" class="current" href="javascript:;">上册</a>
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_8_Book_2.pdf" href="javascript:;">下册</a>
                                </div>
                            </li>
                            <li>
                                <div class="li-img">
                                    <img src="../../images/adultPackage/adult_26.jpg"/>
                                    <span class="c01 _c-title">Book1</span>
                                    <div class="img-layer _layer">
                                        <a href="javascript:;">教材预览</a>
                                    </div>
                                </div>
                                <p class="li-tit">CE Level9</p>
                                <div class="btn-box">
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_9_Book_1.pdf" class="current" href="javascript:;">上册</a>
                                    <a pdf-url="//static.51talk.com/static/image/swf/CE/Level_9_Book_2.pdf" href="javascript:;">下册</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="info-tab2" class="list-info show">
                    <div class="buy-info"> 
                        <div class="buyinfo-title">收货地址及收件人信息</div>
                        <div class="buyinfo-des">请确保您的收货地址与信息正确</div>
                        <ul class="buyinfo-li">
                            <li>收货地址信息可在“会员中心-账户设置-个人信息”底部查看并修改；</li>
                            <li>或可在您进行订单支付的过程中，对相应的收货地址及信息进行确认或修改；</li>
                        </ul>
                    </div>
                    <div class="buy-info">
                        <div class="buyinfo-title">其他</div>
                        <div class="buyinfo-des">关于发票与收货</div>
                        <ul class="buyinfo-li">
                            <li>纸质教材购买后将不能开具发票，购买前请先确认;</li>
                            <li>签收时请您当面验货，如教材损坏等问题请拒收，您若一旦签收将不予退换，如有问题请及时联系我们客服协商处理;</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--课程详情end-->
    </div>
    <div class="textbook-mask" id="textbookMask">
        <div class="pdf-viewer">
            <div class="topbar">
                <a href="javascript:;" class="close" id="closeId">X</a>
            </div>
            <embed src="" id="pdf" width="980" height="720" name="pdf" type="application/pdf" internalinstanceid="1481"></embed>
        </div>
    </div>
    <div class="g-ft">
    <div class="g-in f-tac">
        <div class="links">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="http://www.51talk.com/page/about/" target="_blank" title="关于我们">关于我们</a><i>|</i>
            <a href="//Zhaopin.51talk.com" target="_blank" title="加入我们">加入我们</a><i>|</i>
            <a href="http://www.51talk.com/page/cet/" target="_blank" title="企业培训">企业培训</a><i>|</i>
            <a href="http://www.51talk.com/page/o2o/" target="_blank" title="O2O代理招募">O2O代理招募</a><i>|</i>
            <a href="http://www.51talk.com/ac/51TalkAC.php" target="_blank" title="AC客户端">AC客户端</a><i>|</i>
            <a href="//www.51kt.com/" title="无忧课堂" target="_blank">无忧课堂</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="trust">
            <a href="http://www.51honest.org/wscredit/detail.credit?action=preLevel&amp;credcode=NO.20000038643" target="_blank" title="信星认证" class="t1"></a>
            <a href="http://www.itrust.org.cn/home/index/itrust_certifi/wm/1579059481.html" target="_blank" title="企业信用认证" class="t2"></a>
            <a href="http://www.315online.com.cn/member/315120032.html" target="_blank" title="网上交易保障" class="t3"></a>
            <a href="#" title="支付宝特约商户" class="t4"></a>
        </div>
        <p class="piped">Copyrigh©北京大生知行科技有限公司<i>|</i>
            <a href="http://www.51talk.com/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><i>|</i>
            <a href="http://www.51talk.com/page/terms/" target="_blank" title="用户协议">用户协议</a><i>|</i>
            <a href="http://www.51talk.com/page/icp/" target="_blank" title="京ICP证110696号">京ICP证110696号</a><em></em>
            <a href="http://www.miibeian.gov.cn" target="_blank" title="京ICP备11031999号">京ICP备11031999号</a><em></em>
            <a href="javascript:;" target="_blank" title="京公网安备11010802018414号" style="cursor:text;">京公网安备11010802018414号</a><em></em>
        </p>
    </div>
</div>
    <div class="layer-box" id="layerBox">
        <div class="layer-main">
            <div class="tit-box">
                温馨提示
                <a href="javascript:;"></a>
            </div>
            <div class="layer-content">
                <p class="layer-des" id="textId">您还未选购任何课程商品哦</p>
                <div class="sure-btn">
                    <a id="layerBtn" href="javascript:;">确定</a>
                </div>
            </div>
        </div>
    </div>
    <input type="text" value="book" id="point_type">
</body>
<script src="../../source/js/vendor.js" id="seajsnode"></script>

</html>


