<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../../css/common/index_commons.css">
    <link rel="stylesheet" type="text/css" href="../../css/payFlow/index_success.css">
</head>
<body id="container" data-init="payFlow/success">
    <div class="g-hd">
    <div class="m-top" id="jsHead">
        <div class="g-in f-cb">
            <div class="m-menu f-fl">
                <a class="user __dim__o" setdata="UserMenu_username" href="http://www.51talk.com/user/index">hi,<em class="nick">Bonnie</em>！</a><i>|</i><a class="msg __dim__o" setdata="UserMenu_msg" href="http://www.51talk.com/user/wll">消息<span class="num">37</span></a>
                <span
                    class="tips"><a class="txt" href="http://www.51talk.com/user/review?opinion=no">您有2节课程需要评价</a><span class="close">关闭</span></span><i>|</i><a class="__dim__o" setdata="UserMenu_logout" href="http://www.51talk.com/sso/logout">退出</a>
            </div>
            <ul class="m-link f-ib f-fr">
                <li><a href="http://www.51talk.com/" class="__dim__o" setdata="HeadLink_1">官网首页</a></li>
                <li><a href="https://sale.51talk.com" class="__dim__o" setdata="HeadLink_2">购买课程</a></li>
                <li>
                    <a href="http://www.51talk.com/index/system" class="__dim__o" setdata="HeadLink_3">课程介绍</a></li>
                <li>
                    <a href="http://www.51talk.com/testing/index/?type=login" class="__dim__o" setdata="HeadLink_4">英语水平</a>
                </li>
                <li><a target="_blank" href="http://www.51talk.com/page/faq" class="__dim__o" setdata="HeadLink_5">常见问题</a></li>
                <li><a target="_blank" href="http://www.51talk.com/page/cet" class="__dim__o" setdata="HeadLink_6">企业培训</a></li>
                <li class="jsMore follow"><a href="http://www.51talk.com/page/about/" class="__dim__o" setdata="HeadLink_7">关注我们</a>
                    <ul class="jsUl">
                        <li class="tsina"><a href="http://weibo.com/51talk" rel="nofollow" target="_blank">新浪微博</a></li>
                        <li class="tqq"><a href="http://e.t.qq.com/t51talk" rel="nofollow" target="_blank">腾讯微博</a></li>
                    </ul>
                </li>
                <li><a href="http://www.51talk.com/user/invitefriend" target="_blank" class="__dim__o" setdata="HeadLink_8">邀请有礼</a></li>
                <li><a href="http://www.51talk.com/activity/ipadClient" target="_blank" onclick="__sdonclick('ipadclient');" title="iPad客户端">iPad客户端</a></li>
            </ul>
        </div>
        <div class="down_ac" style="width:105px;height:78px;position:absolute;top:0;right:0;">
            <a href="http://www.51talk.com/ac/51TalkAC.php" target="_blank"><img src="http://static.51talk.com/static/image/menber/un/down_AC.png?v=1511417080594" alt=""></a>
        </div>
    </div>
    <!-- /m-top -->
    <div class="m-head">
        <div class="g-in">
            <h1 class="logo"><a href="http://www.51talk.com/" class="__dim__o" setdata="nav_51talk_logo">51talk 无忧英语</a></h1>
            <ul class="nav">
                <li class="crt"><a href="http://www.51talk.com/user/index" class="__dim__o" setdata="nav_1">首页</a></li>
                <li><a href="http://www.51talk.com/user/remind" class="__dim__o" setdata="nav_2">账户设置</a></li>
                <li><a href="https://sale.51talk.com" class="__dim__o" setdata="nav_3">购买课程</a></li>
                <li><a href="//bbs.51talk.com" target="_blank" hidefocus="true" style="outline:none;" class="__dim__o" setdata="nav_4">学习社区</a></li>
            </ul>
            <div class="contact">
                <p><a href="javascript:void(0)" onclick="easemobIM()" data-type="261110" rel="nofollow" class="hiring u-b-ntkf" title="在线客服" data-url="/Ajax/countQqZiXun">客服在线咨询 (09:00-22:30)</a></p>
                <p class="phone">4000-51-51-51</p>
            </div>
            <a class="file_style f-fr addFile addStyle04 __dim__o" href="http://www.51talk.com/user/invitefriend?style=4" setdata="nav_ad_logo" title="邀请好友送次卡 " target="_blank"></a>
        </div>
    </div>
    <!-- /m-head -->
</div>
    <div class="main">
        <div class="wrab-box wrab-box1">
            <div class="tip">
                <img src="../../images/payFlow/success_tip.png" />
                <p>您选购的课程支付成功</p>
            </div>
            <div class="list-tit">您已获得以下课程内容</div>
            <div class="wrab-mod1 ">
                <div class="table-tit">强化学习效果套餐</div>
                <div class="wrab-talble">
                    <table class="u-tab">
                        <tr>
                            <td>次卡</td>
                            <td>共240次，可用于预约1v1外教课</td>
                        </tr>
                        <tr>
                            <td>优选公开课</td>
                            <td>赠送50课时，可用于预约优选公开课<span>（次卡最低要求：15次/月）</span></td>
                        </tr>
                        <tr>
                            <td>上课要求</td>
                            <td>如未满足，每月将按最低要求扣除次卡和课时。总有效期到期时，未使用的课程将失效，有效期无法延长。</td>
                        </tr>
                        <tr>
                            <td>约课</td>
                            <td>支持预约未来14天的课程。约课后如需取消，请提前一小时在课程记录中进行取消，如缺席课程无法补课。</td>
                        </tr>
                        <tr>
                            <td>上课</td>
                            <td>上课时间：06：00-23:30。支持AC电脑客户端/手机端/iPad三种方式进行上课。</td>
                        </tr>
                    </table>
                </div>
                
            </div>
            <div class="wrab-mod2">
                <div class="table-tit">《经典英语》教材</div>
                <div class="wrab-talble">
                    <table class="u-tab">
                        <tr>
                            <td>商品</td>
                            <td>Classical English Level 2 - 上册；Classical English Level 2 - 下册</td>
                        </tr>
                        <tr>
                            <td>物流</td>
                            <td>收到您的订单后，我司将安排人员在3个工作日内，安排为您发件，如有关于物流的疑问可咨询客服。</span></td>
                        </tr>
                    </table>
                </div>
                
            </div>
        </div>
        <div class="wrab-box wrab-box2">
            <div class="tit">您可登录官网、APP查看您的课程信息，还可通过以下方式联系51Talk</div>
            <div class="concat-list">
                <ul class="f-cb">
                    <li class="f-cb">
                        <img src="../../images/payFlow/concat1.png" />
                        <dl>
                            <dt>服务号添加“51Talk无忧英语”</dt>
                            <dd><span>■</span>在线客服随时接受问题</dd>
                            <dd><span>■</span>享受至尊上课提醒服务</dd>
                            <dd><span>■</span>最新热门英语话题速递</dd>
                        </dl>
                    </li>
                    <li class="f-cb">
                        <img src="../../images/payFlow/concat3.png" />
                        <dl>
                            <dt>无忧英语服务中心</dt>
                            <dd><span>■</span>手机/官网登录账号-服务中心</dd>
                            <dd><span>■</span>随时反馈您的任何问题</dd>
                            <dd><span>■</span>在线客服随时解答</dd>
                        </dl>
                    </li>
                    <li class="f-cb">
                            <img src="../../images/payFlow/concat2.png" />
                            <dl>
                                <dt>人工客服电话 <span>4000-51-51-51</span></dt>
                                <dd><span>■</span>约课、上课过程中出现的问题</dd>
                                <dd><span>■</span>关于课程有效期的任何问题与疑问咨询</dd>
                                <dd><span>■</span>关于51Talk服务过程中的相关投诉与建议</dd>
                            </dl>
                    </li>
                    <li class="f-cb">
                            <img src="../../images/payFlow/concat4.png" />
                            <dl>
                                <dt>专属顾问全程服务，随时随地在线解答</dt>
                                <dd><span>■</span>适合您的学习课程咨询服务</dd>
                                <dd><span>■</span>课程有效期内的上课福利、活动优惠咨询</dd>
                                <dd><span>■</span>退费、续购课程套餐福利服务等</dd>
                            </dl>
                    </li>     
                </ul>
            </div>
        </div>
        <a href="" class="orderClass" target="_blank">立即约课</a>
    </div>
    <div class="g-ft">
    <div class="g-in f-tac">
        <div class="links">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="http://www.51talk.com/page/about/" target="_blank" title="关于我们">关于我们</a><i>|</i>
            <a href="//Zhaopin.51talk.com" target="_blank" title="加入我们">加入我们</a><i>|</i>
            <a href="http://www.51talk.com/page/cet/" target="_blank" title="企业培训">企业培训</a><i>|</i>
            <a href="http://www.51talk.com/page/o2o/" target="_blank" title="O2O代理招募">O2O代理招募</a><i>|</i>
            <a href="http://www.51talk.com/ac/51TalkAC.php" target="_blank" title="AC客户端">AC客户端</a><i>|</i>
            <a href="//www.51kt.com/" title="无忧课堂" target="_blank">无忧课堂</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="trust">
            <a href="http://www.51honest.org/wscredit/detail.credit?action=preLevel&amp;credcode=NO.20000038643" target="_blank" title="信星认证" class="t1"></a>
            <a href="http://www.itrust.org.cn/home/index/itrust_certifi/wm/1579059481.html" target="_blank" title="企业信用认证" class="t2"></a>
            <a href="http://www.315online.com.cn/member/315120032.html" target="_blank" title="网上交易保障" class="t3"></a>
            <a href="#" title="支付宝特约商户" class="t4"></a>
        </div>
        <p class="piped">Copyrigh©北京大生知行科技有限公司<i>|</i>
            <a href="http://www.51talk.com/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><i>|</i>
            <a href="http://www.51talk.com/page/terms/" target="_blank" title="用户协议">用户协议</a><i>|</i>
            <a href="http://www.51talk.com/page/icp/" target="_blank" title="京ICP证110696号">京ICP证110696号</a><em></em>
            <a href="http://www.miibeian.gov.cn" target="_blank" title="京ICP备11031999号">京ICP备11031999号</a><em></em>
            <a href="javascript:;" target="_blank" title="京公网安备11010802018414号" style="cursor:text;">京公网安备11010802018414号</a><em></em>
        </p>
    </div>
</div>
    <script src="../../source/js/vendor.js" id="seajsnode"></script>
</body>
</html>