<div class="sidebar">
  <ul class="menu">
    <li class="difList learn">学习</li>
    <li><a href="javascript:;" class="dirm">预约评测课</a></li>
    <li><a href="javascript:;" class="dirm">外教1对4精品课</a></li>
    <li><a href="javascript:;" class="dirm">已预约的课程</a></li>
    <li class="difList exercise">学习</li>
    <li><a href="javascript:;" class="dirm">EFL课前课后练习</a></li>
    <li class="difList test">测试</li>
    <li><a href="javascript:;" class="dirm">阶段性水平测试</a></li>
    <li class="difList coach">辅导</li>
    <li><a href="javascript:;" class="dirm">绘本馆</a></li>
    <li><a href="javascript:;" class="dirm">公开课</a></li>
  </ul>
  <ul class="menu service">
    <li class="difList study">学习</li>
    <li><a href="javascript:;" class="dirm">服务中心入口</a></li>
    <li><a href="javascript:;" class="dirm">网站动态</a></li>
    <li><a href="javascript:;" class="dirm">上课百宝箱</a></li>
    <li>
      <div class="download">
        软件下载<i>></i>
        <div class="loadLayer">
          <div>
            <a href="javascript:;">AC在线教室电脑客户端</a>
            <a href="javascript:;">青少课堂iPad客户端</a>
            <a href="javascript:;">51Talk手机客户端</a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>