<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>右侧栏</title>
  <link rel="stylesheet" type="text/css" href="../../css/exReceive/index_method.css">
  <script type="text/javascript">
    window.static_url="../../";
  </script>
</head>
<body data-init="common/sidebarRt" id="container">
  <div id="sidebarRt">
    loading....
  </div>
</body>
<script src="../../source/js/vendor.js" id="seajsnode"></script>
</html>