<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="<%= cssPath2 %>common/index_commons.css">
    <link rel="stylesheet" type="text/css" href="<%= cssPath2 %>youngPackage/index_strengthen.css">
    <script type="text/javascript">
        window.static_url="../../";
    </script>
</head>

<body data-init="youngPackage/indexMonthlyLearningEffect" id="container">
    <div id="indexMonthlyLearningEffect">
        loading...
    </div>
    <input type="text" value="point_package" id="point_type">
</body>
<script src="<%= jsSource2%>" id="seajsnode"></script>

</html>


